extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content
  section.pages.plain
  .container
    span.wbdRichText
      h1(dir='ltr', style='text-align: center;')  About us
      p(dir='ltr', style='text-align: center;')
        span(style='font-size: 18pt;') Say farewell to a market controlled by middlemen
      p(dir='ltr', style='text-align: center;')
        span(style='font-size: 18pt;') And say hello to an online revolution!
      p  
      p(dir='ltr')
        | In 2008 Uber changed the transport industry forever with the creation of a visionary new platform that could enable passengers to save big and enjoy a better user experience by eliminating the middlemen and connecting with drivers.
      p
        | In 2009 Airbnb forever changed the accommodation industry with the launch of a revolutionary new platform that could enable guests to directly engage with a whole new range of hosts without any middlemen.
      p(dir='ltr')  
      h3(dir='ltr') Drinkcircle – the future of buying alcohol online
      p(dir='ltr')
        | Now Drinkcircle is disrupting the online alcohol industry with an exciting fun new platform that connects drinkers directly to the source – the makers of your favourite wines, beers, ciders and spirits, all located in one convenient place.
      p(dir='ltr')
        span#docs-internal-guid-1d7871f0-2650-fa9b-159f-5890d8dfa385
          | Drinkcircle does not buy alcohol, put on a hefty retail margin and try to resell it to you. When you buy a product on Drinkcircle you deal directly with each producer or in the case of some international producers, their local distribution partner.
      p(dir='ltr')  
      h2(dir='ltr') Power to the People!
      h3(dir='ltr') 1. Circlebuying – unique, new & fun
      p(dir='ltr')
        span#docs-internal-guid-1d7871f0-2651-3899-0729-4bbc57a64ba0
          | On Drinkcircle, drinkers can really save big time by getting together with others to ‘circlebuy’ their drinks directly from the source. ‘Circlebuying’ is a unique new concept utilising the power of a fully interactive online community to connect with each other and enjoy bulk buying prices for individual orders. ‘Circlebuying’ is not just a fun new way to buy but has big benefits for both the buyer and seller. Buyers save by not paying any middlemen margins and enjoy low ‘circlebuy’ prices for individual orders. Sellers benefit by being able to offer significantly reduced prices and sell multiples of their products in ‘circlebuys’.
      p  
      h3(dir='ltr') 2. Sellers – take full control of your business
      p(dir='ltr')
        span#docs-internal-guid-1d7871f0-2651-644c-9eb7-67122ec0887c
          | Because we are not retailers all Drinkcircle sellers compete on an even playing field with no favouritism. Drinkcircle allows sellers full control of how they conduct their business on the site, including setting their own prices. Sellers get exposure to the entire drinkcircle community and can build and engage directly with their network of buyers to better understand their needs. Sellers that provide the best customer experience have their chance to really stand out from the crowd.
      p  
      h3(dir='ltr') Mycircle – share the experience & fun
      p(dir='ltr')
        span#docs-internal-guid-1d7871f0-2651-8eb3-642f-8d74292b6292
          | Drinkcircle is not just about buying and selling drinks. It’s also about having fun. It is about sharing the experience and enjoyment of drinking. On our community, Mycircle, drinkers have the opportunity to create their own networks of friends and specific ‘circles’ to manage their circle buys, post, share, comment and chat about their experiences as well as follow and interact with their favourite producers.
      h3(dir='ltr') A Collective Voice – your opinions count
      p(dir='ltr')
        span#docs-internal-guid-1d7871f0-2651-ce04-2e6b-02ae7e8c7244
          | Drinkcircle also encourages drinkers to share their opinions and aggregates unbiased user ratings and reviews along similar lines to how tripadvisor users have influenced decisions in the travel industry. Products ratings are not reliant on a ‘critic’ but the people who matter who put their hands in their pockets and are looking for the best value for money. Drinkers now have a collective voice that can be used as a genuine reference guide to help make better and quicker buying decisions.
      p  
      h3(dir='ltr') What’s ahead
      p(dir='ltr')
        | With your support Drinkcircle will grow to offer the largest range of products at the best prices available and put the control of the online alcohol market firmly back in the hands of the drink consumers and drink producers.
      p(dir='ltr')
        | We are fully focussed on continuously improving Drinkcircle and would love to hear from our buyers and sellers with any suggestions to make our site better. Simply contact us here [link 
        a(href='mailto:contact@drinkcircle.com') contact@drinkcircle.com
        | ] with your feedback.
      p(dir='ltr')
        span#docs-internal-guid-1d7871f0-2651-fb1d-2c75-7e8e14eaa5df
          | Join us and become part of the Drinkcircle community because together we can make a difference.


