extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  section.userprofile.request-list.simple
    .container
      .row
        .col-md-12
          h3.title Join a circlebuy for Brokenwood - Graveyard Vineyard Shiraz
        //- col-md-12
      //- row
      .card
        .row
          .col-md-9
            p
              | Size&nbsp;
              select.form-control.inline
                option 10 cases
              //- select
            //- p
            p.text-warning * All circlebuys will expire after 3 days from commencement if not completed.
          //- col-md-9
          .col-md-3
            .alert.alert-warning.countdown
              | circlebuy duration
              hr
              h2 72hrs
              //- h2
            //- alert
          //- col-md-3
        //- row
      //- card
      br
      h4 Your Order
      .card
        .row
          .col-md-4
            .form-group
              label Item
              p.form-control-static Brokenwood - Graveyard Vineyard Shiraz
            //- form-group
          //- col-md-4
          .col-md-3
            .form-group
              label Your quantity
              select.form-control
                option 3 cases
              //- select
            //- form-group
            .form-group
              label Quantity remaining
              p.form-control-static 7 cases
            //- form-group
          //- col-md-4
          .col-md-5
            .table-responsive
              table.table
                thead
                  tr
                    th Price
                    th Subtotal
                  //- tr
                //- thead
                tbody
                  tr
                    td $119.94
                    td $359.82
                  //- tr
                  tr
                    td(colspan='2')
                      br
                    //- td
                  //- tr
                  tr
                    td Subtotal
                    td $359.82
                  //- tr
                  tr
                    td Shipping
                    td $10.00
                  //- tr
                  tr
                    td GST
                    td $36.98
                  //- tr
                  tr
                    td(colspan='2')
                      br
                    //- td
                  //- tr
                  tr
                    td
                      strong Grand Total (Incl. GST)
                    //- td
                    td
                      strong $406.802
                    //- td
                  //- tr
                //- tbody
              //- table
            //- table-responsive
          //- col-md-4
        //- row
      //- card
      br
      h4 Your Details
      .card
        .row
          .col-md-3
            .form-group
              label Date of Birth *
              input.form-control(type='date')
            //- form-group
          //- col-md-4
        //- .row
        p Drinkcircle supports prohibiting the sale of alcohol and tobacco to minors.
        hr
        p
          strong Billing Details
        //- p
        .row
          .col-md-3
            .alert.alert-warning
              a.text-danger.pull-right(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times-circle
              //- a
              .clearfix
              p
                | John Jones
                br
                | 423 5678
                br
                | 19 Beaudesert Rd. Brisbane,
                br
                | QLD 4757
              //- p
            //- alert
          //- col-md-3
          .col-md-3
            .alert.alert-warning
              a.text-danger.pull-right(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times-circle
              //- a
              .clearfix
              p
                | John Jones
                br
                | 423 5678
                br
                | 32 Darwin St. North Brisbane,
                br
                | QLD 4747
              //- p
            //- alert
          //- col-md-3
        //- .row
        a.btn.btn-success.btn-sm(href='#modal_coming_soon', data-toggle='modal') Add a new address
        hr
        .row
          .col-md-4
            .form-group
              label Ship to
              select.form-control
                option Other
              //- select
            //- form-group
          //- col-md-4
        //- row
        .row
          .col-md-3
            .alert.alert-warning
              a.text-danger.pull-right(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times-circle
              //- a
              .clearfix
              p
                | John Jones
                br
                | 423 5678
                br
                | 19 Beaudesert Rd. Brisbane,
                br
                | QLD 4757
              //- p
            //- alert
          //- col-md-3
          .col-md-3
            .alert.alert-warning
              a.text-danger.pull-right(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times-circle
              //- a
              .clearfix
              p
                | John Jones
                br
                | 423 5678
                br
                | 32 Darwin St. North Brisbane,
                br
                | QLD 4747
              //- p
            //- alert
          //- col-md-3
        //- .row
        a.btn.btn-success.btn-sm(href='#modal_coming_soon', data-toggle='modal') Add a new address
        hr
        .row
          .col-md-4
            .form-group
              label Authority to Leave
              select.form-control
                option Yes
              //- select
            //- form-group
          //- col-md-4
          .col-md-12
            .form-group
              label Comment for delivery
              textarea.form-control(rows='3')
            //- form-group
          //- col-md-4
        //- row
      //- card

      br
      .text-right
        a.btn.btn-success.btn-lg(href='circlebuy-invites.html') Next
      //- text-right
    //- container
  //- section


block scripts
  // External Script goes here...
  script.
    $(function () {

    });



    /*
     *  Set up the login part at the top of the page.
     */
     authservice.init({
       // Environment specific values are defined in environment.js
       host: AUTHSERVICE_HOST,
       port: AUTHSERVICE_PORT,
       tenant: AUTHSERVICE_TENANT,
       pretend: AUTHSERVICE_USE_DUMMY_LOGIN,
       onUserChange: function(user, ttuat, fromCookie) {
         // If the current user came from the cookie, reload it
         //if (fromCookie) {
         //  console.log('Reloading user details (cookie details are just a summary)');
         //  return authservice.reloadUser();
         //}
       }
     });

  //- script.
