extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  .banner.home
    .gradient
    .banner-static
      img(src='assets/images/banner/banner_slide_2.jpg')
    //- banner-static
    h1.jumbo Join in the fun and save big time
      br
      small circlebuying
    //- h1

    .action
      a.btn.btn-success.btn-lg(href='#modal_signup', data-toggle='modal')
        i.fa.fa-envelope
        span.hidden-xs &nbsp;&nbsp;&nbsp;Signup with Email
      //- a
      a.btn.btn-info.btn-lg
        i.fa.fa-facebook
        span.hidden-xs &nbsp;&nbsp;&nbsp;Continue with Facebook
      //- a
    //- action
  //- banner-home

  section
    .container.text-center
      .row
        .col-md-12
          h1 What is circlebuying?
          br
          p.lead circlebuying is the fun new way to get together with friends and save big time on your drinks, directly from the drinkmaker.
        //- col-md-12
      //- row
      .row
        .col-md-12
          h1 How long does a circlebuy last?
          br
          p.lead A circlebuy closes as soon as the quantity is reached with a maximum running time of 72hrs (3 days).
        //- col-md-12
      //- row
      .row
        .col-md-12
          h1 How do I join a circlebuy?
          br
          p.lead It’s really easy to do. Just find a circlebuy that looks good and join on up. You can search&nbsp;
            a(href='circlebuying.html') here.
        //- col-md-12
      //- row
      .row
        .col-md-12
          h1 Can I start my own circlebuy?
          br
          p.lead You sure can it’s really simple.In just a few clicks you are on your way. Starting your own can also bring extra savings.
        //- col-md-12
      //- row
      .row
        .col-md-12
          h1 How do I let my friends know about my circlebuy?
          br
          p.lead Simply share the details with your friends on the drinkcircle community or with friends on other social media or email and invite them to join.
        //- col-md-12
      //- row
      .row
        .col-md-12
          h1 Where does my drink order go?
          br
          p.lead circlebuying gives back the 'power to the people'.
          p.lead By combining your orders in a circlebuy all members enjoy bulk buy rates and still get their drinks delivered directly their door.
        //- col-md-12
      //- row
      .row
        .col-md-12
          h1 Ready for lots of fun and big savings?
          br
          br
          a.btn.btn-success.btn-lg.super-action-button(href='#modal_signup', data-toggle='modal') Get Started
          | &nbsp;&nbsp;&nbsp;
          a.btn.btn-success.btn-lg.super-action-button._white(href='#modal_coming_soon', data-toggle='modal') Learn more
        //- col-md-12
      //- row
    //- container
  //- section


block scripts
  // External Script goes here...
  script.
    $(function () {

    });
  //- script.
