extends ./layout/layout_main.pug

block css
  style.

  //- style


block content

  .banner.advisor
    .gradient
    h1.jumbo Welcome to a new world of drinking
      br
      small rate, review and compare
    //- h1
    .action
      a.btn.btn-success.btn-lg(href='#modal_signup', data-toggle='modal')
        i.fa.fa-envelope
        span.hidden-xs &nbsp;&nbsp;&nbsp;Signup with Email
      a.btn.btn-info.btn-lg
        i.fa.fa-facebook
        span.hidden-xs &nbsp;&nbsp;&nbsp;Continue with Facebook
      .util
        a(href='#modal_coming_soon', data-toggle='modal')
          | Download our app
        //- a
        | &nbsp;&nbsp;
        i.fa.fa-android
        | &nbsp;
        i.fa.fa-apple
      //- util
    //- action
  //- banner-home

  section.profile.da
    h2.advisor Welcome to drinkadvisor
      i.fa.fa-question-circle
    //- h2
    .container
      .row
        .col-md-8.col-md-offset-2
          form
            .form-group
              //- .text-center What would you like to get a rating on?
              .icon_search
                input.form-control.input-lg(type='text', placeholder='What drink would you like to rate or review?')
                i.fa.fa-search
              //- icon_search
            //- form-group
            .form-group
              //- .text-center What drinks have you tried lately?
              .icon_search
                input.form-control.input-lg(type='text', placeholder='What drink would you like to get a rating or review on?')
                i.fa.fa-search
              //- icon_search
            //- form-group
          //- form
        //- col-md-8
      //- row
    //- container
  //- section

  section
    .container
      .product-wrap
        .row
          // 1 Product
          .col-sm-6.col-md-4
            .product
              .thumb
                .ctr
                  .count 93
                    span points
                  //- count
                img.img-prod(src='assets/images/products/p1.jpg', alt='')
                // Edit
                .details
                  p
                  .stats
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 14&nbsp;
                          small circle buys
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 624&nbsp;
                          small ratings
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 121&nbsp;
                          small reviews
                      //- col-md-6
                    //- .row
                  //- stats
                  .name
                    a(href='#modal_coming_soon', data-toggle='modal') Corona Extra
                    br
                    small Imported Beer
                  //- name
                  .pricing
                    .buy.drop
                      ul
                        li
                          a.popover_price(href="#", data-toggle="popover", data-placement="bottom", data-title="Circle Buys")
                            small from&nbsp;
                            big $39.99
                          //- a
                          br
                          a(href='#modal_coming_soon', data-toggle='modal') rate | write a review
                          ul
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 1
                                  br
                                  | case
                                //- span
                                span.price $49.99
                                  small &nbsp;per case
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 5
                                  br
                                  | cases
                                //- span
                                span.price $44.99
                                  small &nbsp;per cases
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 20
                                  br
                                  | cases
                                //- span
                                span.price $39.99
                                  small &nbsp;per cases
                              //- a
                            //- li
                          //- ul
                        //- li
                      //- ul
                    //-buy
                  //- pricing
                //- details
              //- thumb
            //- product
          //- col

          .col-sm-6.col-md-4
            .product
              .thumb
                .ctr.silver
                  .count 94
                    span points
                  //- count
                //- ctr
                a(href='productdetails2.html')
                  img.img-prod(src='assets/images/products/p2.jpg', alt='')
                //- a
                .details
                  p
                  .stats
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 84&nbsp;
                          small circle buys
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 242&nbsp;
                          small ratings
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 88&nbsp;
                          small reviews
                      //- col-md-6
                    //- .row
                  //- stats
                  .name
                    a(href='#modal_coming_soon', data-toggle='modal') Brokenwood
                    br
                    small Graveyard Vineyard
                  //- name
                  .pricing
                    .buy.drop
                      ul
                        li
                          a.popover_price(href="#", data-toggle="popover", data-placement="bottom", data-title="Circle Buys")
                            small from&nbsp;
                            big $19.99
                          //- a
                          br
                          a(href='#modal_coming_soon', data-toggle='modal') rate | write a review
                          ul
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 1
                                  br
                                  | case
                                //- span
                                span.price $25.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 5
                                  br
                                  | cases
                                //- span
                                span.price $29.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 10
                                  br
                                  | cases
                                //- span
                                span.price $19.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                          //- ul
                        //- li
                      //- ul
                    //-buy
                  //- pricing
                //- details
              //- thumb
            //- product
          //- col

          .col-sm-6.col-md-4
            .product
              .thumb
                .ctr.bronze
                  .count 91
                    span points
                  //- count
                //- ctr
                a(href='#modal_coming_soon', data-toggle='modal')
                  img.img-prod(src='assets/images/products/p3.jpg', alt='')
                //- a
                .details
                  p
                  .stats
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 53&nbsp;
                          small circle buys
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 160&nbsp;
                          small ratings
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 30&nbsp;
                          small reviews
                      //- col-md-6
                    //- .row
                  //- stats
                  .name
                    a(href='#modal_coming_soon', data-toggle='modal') Chivas Regal
                    br
                    small 12 Year Old Scotch Whisky 700mL
                  //- name
                  .pricing
                    .buy.drop
                      ul
                        li
                          a.popover_price(href="#", data-toggle="popover", data-placement="bottom", data-title="Circle Buys")
                            small from&nbsp;
                            big $32.99
                          //- a
                          br
                          a(href='#modal_coming_soon', data-toggle='modal') rate | write a review
                          ul
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 1
                                  br
                                  | bottle
                                //- span
                                span.price $25.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 1
                                  br
                                  | case
                                //- span
                                span.price $33.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 3
                                  br
                                  | cases
                                //- span
                                span.price $32.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                          //- ul
                        //- li
                      //- ul
                    //-buy
                  //- pricing
                //- details
              //- thumb
            //- product
          //- col

          .col-sm-6.col-md-4
            .product
              .thumb
                .ctr.silver
                  .count 89
                    span points
                  //- count
                //- ctr
                a(href='#modal_coming_soon', data-toggle='modal')
                  img.img-prod(src='assets/images/products/p4.jpg', alt='')
                //- a
                .details
                  p
                  .stats
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 43&nbsp;
                          small circle buys
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 160&nbsp;
                          small ratings
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 30&nbsp;
                          small reviews
                      //- col-md-6
                    //- .row
                  //- stats
                  .name
                    a(href='#modal_coming_soon', data-toggle='modal') Mo&eacute;t &amp; Chandon
                    br
                    small French Champagne
                  //- name
                  .pricing
                    .buy.drop
                      ul
                        li
                          a.popover_price(href="#", data-toggle="popover", data-placement="bottom", data-title="Circle Buys")
                            small from&nbsp;
                            big $11.99
                          //- a
                          br
                          a(href='#modal_coming_soon', data-toggle='modal') rate | write a review
                          ul
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 12
                                  br
                                  | pack
                                //- span
                                span.price $16.20
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 5
                                  br
                                  | cases
                                //- span
                                span.price $13.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 10
                                  br
                                  | cases
                                //- span
                                span.price $11.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                          //- ul
                        //- li
                      //- ul
                    //-buy
                  //- pricing
                //- details
              //- thumb
            //- product
          //- col

          .col-sm-6.col-md-4
            .product
              .thumb
                .ctr
                  .count 95
                    span points
                  //- count
                //- ctr
                a(href='#modal_coming_soon', data-toggle='modal')
                  img.img-prod(src='assets/images/products/p5.jpg', alt='')
                //- a
                .details
                  p
                  .stats
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 20&nbsp;
                          small circle buys
                      //- col-md-4
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 88&nbsp;
                          small reviews
                      //- col-md-4
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 5&nbsp;
                          small reviews
                      //- col-md-4
                    //- .row
                  //- stats
                  .name
                    a(href='#modal_coming_soon', data-toggle='modal') Absolut
                    br
                    small Vodka
                  //- name
                  .pricing
                    .buy.drop
                      ul
                        li
                          a.popover_price(href="#", data-toggle="popover", data-placement="bottom", data-title="Circle Buys")
                            small from&nbsp;
                            big $43.99
                          //- a
                          br
                          a(href='#modal_coming_soon', data-toggle='modal') rate | write a review
                          ul
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 1
                                  br
                                  | bottle
                                //- span
                                span.price $49.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 1
                                  br
                                  | case
                                //- span
                                span.price $44.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 3
                                  br
                                  | case
                                //- span
                                span.price $43.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                          //- ul
                        //- li
                      //- ul
                    //-buy
                  //- pricing
                //- details
              //- thumb
            //- product
          //- col

          .col-sm-6.col-md-4
            .product
              .thumb
                .ctr.bronze
                  .count 90
                    span points
                  //- count
                //- ctr
                a(href='#modal_coming_soon', data-toggle='modal')
                  img.img-prod(src='assets/images/products/p6.jpg', alt='')
                //- a
                .details
                  p
                  .stats
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 76&nbsp;
                          small circle buys
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 156&nbsp;
                          small ratings
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 59&nbsp;
                          small reviews
                      //- col-md-6
                    //- .row
                  //- stats
                  .name
                    a(href='#modal_coming_soon', data-toggle='modal') Kim Crawford
                    br
                    small Sauvignon Blanc
                  //- name
                  .pricing
                    .buy.drop
                      ul
                        li
                          a.popover_price(href="#", data-toggle="popover", data-placement="bottom", data-title="Circle Buys")
                            small from&nbsp;
                            big $12.99
                          //- a
                          br
                          a(href='#modal_coming_soon', data-toggle='modal') rate | write a review
                          ul
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 12
                                  br
                                  | pack
                                //- span
                                span.price $14.90
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 5
                                  br
                                  | cases
                                //- span
                                span.price $13.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 10
                                  br
                                  | cases
                                //- span
                                span.price $12.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                          //- ul
                        //- li
                      //- ul
                    //-buy
                  //- pricing
                //- details
              //- thumb
            //- product
          //- col

          .col-sm-6.col-md-4
            .product
              .thumb
                .ctr
                  .count 95
                    span points
                  //- count
                //- ctr
                a(href='#modal_coming_soon', data-toggle='modal')
                  img.img-prod(src='assets/images/products/p7.jpg', alt='')
                //- a
                .details
                  p
                  .stats
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 20&nbsp;
                          small circle buys
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 520&nbsp;
                          small ratings
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 132&nbsp;
                          small reviews
                      //- col-md-6
                    //- .row
                  //- stats
                  .name
                    a(href='#modal_coming_soon', data-toggle='modal') Heineken
                    br
                    small Lager Stubbies
                  //- name
                  .pricing
                    .buy.drop
                      ul
                        li
                          a.popover_price(href="#", data-toggle="popover", data-placement="bottom", data-title="Circle Buys")
                            small from&nbsp;
                            big $36.99
                          //- a
                          br
                          a(href='#modal_coming_soon', data-toggle='modal') rate | write a review
                          ul
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 1
                                  br
                                  | case
                                //- span
                                span.price $42.95
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 5
                                  br
                                  | cases
                                //- span
                                span.price $39.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 20
                                  br
                                  | cases
                                //- span
                                span.price $36.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                          //- ul
                        //- li
                      //- ul
                    //-buy
                  //- pricing
                //- details
              //- thumb
            //- product
          //- col

          .col-sm-6.col-md-4
            .product
              .thumb
                .ctr.silver
                  .count 97
                    span points
                  //- count
                //- ctr
                a(href='#modal_coming_soon', data-toggle='modal')
                  img.img-prod(src='assets/images/products/p8.jpg', alt='')
                //- a
                .details
                  p
                  .stats
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 21&nbsp;
                          small circle buys
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 69&nbsp;
                          small ratings
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 13&nbsp;
                          small reviews
                      //- col-md-6
                    //- .row
                  //- stats
                  .name
                    a(href='#modal_coming_soon', data-toggle='modal') Sticks
                    br
                    small Pinot Noir
                  //- name
                  .pricing
                    .buy.drop
                      ul
                        li
                          a.popover_price(href="#", data-toggle="popover", data-placement="bottom", data-title="Circle Buys")
                            small from&nbsp;
                            big $14.99
                          //- a
                          br
                          a(href='#modal_coming_soon', data-toggle='modal') rate | write a review
                          ul
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 6
                                  br
                                  | pack
                                //- span
                                span.price $16.20
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 5
                                  br
                                  | cases
                                //- span
                                span.price $15.50
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 10
                                  br
                                  | cases
                                //- span
                                span.price $14.99
                                  small &nbsp;per bottle
                              //- a
                            //- li
                          //- ul
                        //- li
                      //- ul
                    //-buy
                  //- pricing
                //- details
              //- thumb
            //- product
          //- col

          .col-sm-6.col-md-4
            .product
              .thumb
                .ctr.bronze
                  .count 92
                    span points
                  //- count
                //- ctr
                a(href='#modal_coming_soon', data-toggle='modal')
                  img.img-prod(src='assets/images/products/p9.jpg', alt='')
                //- a
                .details
                  p
                  .stats
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 98&nbsp;
                          small circle buys
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 19&nbsp;
                          small ratings
                      //- col-md-6
                      .col-md-4.col-sm-4.col-xs-4
                        a(href='#modal_coming_soon', data-toggle='modal')
                          big 4&nbsp;
                          small reviews
                      //- col-md-6
                    //- .row
                  //- stats
                  .name
                    a(href='#modal_coming_soon', data-toggle='modal') Tempus Two
                    br
                    small Botrytis Semillon 250mL
                  //- name
                  .pricing
                    .buy.drop
                      ul
                        li
                          a.popover_price(href="#", data-toggle="popover", data-placement="bottom", data-title="Circle Buys")
                            small from&nbsp;
                            big $12.50
                          //- a
                          br
                          a(href='#modal_coming_soon', data-toggle='modal') rate | write a review
                          ul
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 6
                                  br
                                  | bottle
                                //- span
                                span.price $14.25
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 5
                                  br
                                  | case
                                //- span
                                span.price $13.50
                                  small &nbsp;per bottle
                              //- a
                            //- li
                            li
                              a(href="#", data-toggle="modal", data-target="#buymode")
                                span.qty 10
                                  br
                                  | cases
                                //- span
                                span.price $12.50
                                  small &nbsp;per bottle
                              //- a
                            //- li
                          //- ul
                        //- li
                      //- ul
                    //-buy
                  //- pricing
                //- details
              //- thumb
            //- product
          //- col
        //- row
      //- product-wrap
    //- container
  //- section

block scripts
  // External Script goes here...
  script.
    $(function () {
      $('.popover_price[data-toggle="popover"]').popover({
        html: true,
        content : function() {
          return '<ul class="cost">' + $(this).parent().find("ul").html() + '</ul>';
        },
        title: function(){
          return jQuery(this).data('title') + '<span class="close">&times;</span>';
        }
      }).on('shown.bs.popover', function(e) {
        var popover = jQuery(this);
        $(this).parent().find('.popover span.close').on('click', function(e) {
          popover.popover('hide');
        });
      }).click(function(e) {
        e.preventDefault();
      });
    });
  //- script.
//- block scripts
