extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  .banner.userprofile
    .gradient
    .info
      .container
        .row
          .col-sm-3.col-md-3
            .photo
              .img
                a(href='#modal_coming_soon', data-toggle='modal')
                  i.fa.fa-camera
                //- a
                img(src="assets/images/img_advisor_1.jpg", alt="")
              //- img
              .name
                span Andrew Steer&nbsp;
                sup
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-pencil
                    span edit profile
                  //- a
                //- sup
              //- name
            //- photo
          //- col-md-3
        //- row
        .row
          .col-sm-9.col-md-9.col-sm-offset-3.col-md-offset-3
            .userprofilemenu
              nav.menu
                ul
                  li
                    a.active(href="#") Timeline
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') About
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Friends
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Circle buys
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Groups
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Reviews
                  //- li
                //- ul
              //- nav
            //- userprofilemenu
          //- col-md-6
        //- row
      //- container
    //- info
  //- banner.userprofile

  section.userprofile.events.simple
    .container
      .row
        .col-md-12
          h3.title Events
        //- col-md-12
      //- row
      .card
        .row
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Jairo and Pinky Wedding
                //- strong
                br
                small Sunday, December 21, 2014 at 2:30 PM - 11:30 PM
              //- event-thumb-info
            //- card
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') NIGHT RUSH 3 - BBEA Fun Run
                //- strong
                br
                small Saturday, April 27, 2013 at 5:30 PM
              //- event-thumb-info
            //- card
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') FlipTop Metro Manila presents: Dos Por Dos Finals Unibersikulo x Boom Bap Friday
                //- strong
                br
                small Friday, August 31, 2012 at 8 PM
              //- event-thumb-info
            //- card
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Surla - Dayrit Nuptial
                //- strong
                br
                small Sunday, January 15, 2012 at 3 PM - 10 PM
              //- event-thumb-info
            //- card
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Jairo and Pinky Wedding
                //- strong
                br
                small Sunday, December 21, 2014 at 2:30 PM - 11:30 PM
              //- event-thumb-info
            //- card
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') NIGHT RUSH 3 - BBEA Fun Run
                //- strong
                br
                small Saturday, April 27, 2013 at 5:30 PM
              //- event-thumb-info
            //- card
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') FlipTop Metro Manila presents: Dos Por Dos Finals Unibersikulo x Boom Bap Friday
                //- strong
                br
                small Friday, August 31, 2012 at 8 PM
              //- event-thumb-info
            //- card
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Surla - Dayrit Nuptial
                //- strong
                br
                small Sunday, January 15, 2012 at 3 PM - 10 PM
              //- event-thumb-info
            //- card
          //- col-md-3
        //- row
      //- card
    //- container
  //- section


block scripts
  // External Script goes here...
  script.
    $(function () {

    });
  //- script.
