extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  .banner.userprofile
    .gradient
    .info
      .container
        .row
          .col-sm-3.col-md-3
            .photo
              .img
                a(href='#modal_coming_soon', data-toggle='modal')
                  i.fa.fa-camera
                //- a
                img(src="assets/images/img_advisor_1.jpg", alt="")
              //- img
              .name
                span Andrew Steer&nbsp;
                sup
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-pencil
                    span edit profile
                  //- a
                //- sup
              //- name
            //- photo
          //- col-md-3
        //- row
        .row
          .col-sm-9.col-md-9.col-sm-offset-3.col-md-offset-3
            .userprofilemenu
              nav.menu
                ul
                  li
                    a.active(href="#") Timeline
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') About
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Friends
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Circle buys
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Groups
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Reviews
                  //- li
                //- ul
              //- nav
            //- userprofilemenu
          //- col-md-6
        //- row
      //- container
    //- info
  //- banner.userprofile

  section.userprofile.friends-list.simple
    .container
      .row
        .col-md-12
          h3.title Friends List
        //- col-md-12
      //- row
      .card
        .row
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Jeremi Talavera Serrano
                //- strong
                br
                small Capas, Tarlac
              //- event-thumb-info
              a.text-danger.delete(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times
              //- a
            //- event-tile
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Hector Ting
                //- strong
                br
                small Quezon City
              //- event-thumb-info
              a.text-danger.delete(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times
              //- a
            //- event-tile
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Uriel Temporado
                //- strong
                br
                small Angeles, Pampanga
              //- event-thumb-info
              a.text-danger.delete(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times
              //- a
            //- event-tile
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Felino Salac
                //- strong
                br
                small Capas, Tarlac
              //- event-thumb-info
              a.text-danger.delete(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times
              //- a
            //- event-tile
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Jeffrey S Dela Cruz
                //- strong
                br
                small Mexico, Pampanga
              //- event-thumb-info
              a.text-danger.delete(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times
              //- a
            //- event-tile
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Jul Balgue
                //- strong
                br
                small Angeles, Pampanga
              //- event-thumb-info
              a.text-danger.delete(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times
              //- a
            //- event-tile
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Leonardo Calma
                //- strong
                br
                small Angeles, Pampanga
              //- event-thumb-info
              a.text-danger.delete(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times
              //- a
            //- event-tile
          //- col-md-3
          .col-md-3.col-sm-3.col-xs-6
            .event-tile
              .event-photo
                img(src="http://placehold.it/150")
              //- event-photo
              .event-thumb-info
                strong
                  a(href='#modal_coming_soon', data-toggle='modal') Diana Manalese
                //- strong
                br
                small Angeles, Pampanga
              //- event-thumb-info
              a.text-danger.delete(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-times
              //- a
            //- event-tile
          //- col-md-3
        //- row
      //- card
    //- container
  //- section


block scripts
  // External Script goes here...
  script.
    $(function () {

    });
  //- script.
