extends ./layout/layout_main.pug

block content

  .banner.home.index
    .gradient
    .owl-carousel
      .item
        img(src='assets/images/cm/banner/b1.png')
      //- item
      .item
        img(src='assets/images/cm/banner/b2.png')
      //- item
      .item
        img(src='assets/images/cm/banner/b3.png')
      //- item
      .item
        img(src='assets/images/cm/banner/b4.png')
      //- item
    //- owl-carousel
    .content
      .container
        h1.jumbo
          | The fun marketplace connecting online shoppers.
          br
          | It's the new way to save!
          br
          small Discover. Share. Enjoy.
        //- h1
        .action.authservice-logged-out
          a.btn.btn-success.btn-lg(href='#modal_coming_soon', data-toggle='modal')
            i.fa.fa-envelope
            span.hidden-xs &nbsp;&nbsp;&nbsp;Signup with Email
          //- a
          a.btn.btn-primary.btn-lg(href='#modal_coming_soon', data-toggle='modal')
            i.fa.fa-facebook
            span.hidden-xs &nbsp;&nbsp;&nbsp;Continue with Facebook
          //- a
        //- action
      //- container
    //- content
  //- banner-home

  section.site
    //- h2 Features you'll love...
    .container
      .row
        .col-xs-10.col-sm-4.col-md-4.col-xs-offset-1.col-sm-offset-0.col-md-offset-0
          .brief.dd
            img(src='assets/images/cm/truck.png')
            p.clearfix
            p.clearfix
            h4.green Meet the Suppliers
            p Get to personally know your drinkmakers on our social community. Get exclusive wine, beer, cider &amp; spirits offers and all the latest news.
            //- p
            a.btn.btn-link(href="drinkmakers.html") view
          //- brief
        //- col-md-4
        .col-xs-10.col-sm-4.col-md-4.col-xs-offset-1.col-sm-offset-0.col-md-offset-0
          .brief.di
            img(src='assets/images/cm/magnifier.png')
            p.clearfix
            p.clearfix
            h4.green Find the best match
            p Find your perfect drink using accumulated user ratings and top picks from shoppers like you.
              br
              | Use our comparison module for a better match.
            //- p
            a.btn.btn-link(href="compare.html") view
            //- p
          //- brief
        //- col-md-4
        .col-xs-10.col-sm-4.col-md-4.col-xs-offset-1.col-sm-offset-0.col-md-offset-0
          .brief.c
            img(src='assets/images/cm/party.png')
            p.clearfix
            p.clearfix
            h4.green Buying with friends
            p Connect with new &amp; old friends. Buy together for big savings direct from the source.
              br
              | Share your experiences both good and bad.
            //- p
            a.btn.btn-link(href="circlebuys.html") view
          //- brief
        //- col-md-4
      //- row
      br
      .text-center
        a.btn.btn-success.btn-lg.super-action-button(href='#modal_coming_soon', data-toggle='modal') Get Started
      //- text-center
    //- container
  //- section


  section.activity
    .container
      .row
        .col-sm-6.col-md-4.col-xs-12
          .type.categories
            h4
              a(href='drinkmakers.html') Search Suppliers
            //- h4
            .row.drinktype
              //- 1
              .col-md-4.col-sm-4.col-xs-4.cat-thumb
                a(href='drinks.html?category=620')
                  img(src='assets/images/icon_cat_red.png')
                  br
                  small Red
                //- a
              //- col-md-4
              //- 2
              .col-md-4.col-sm-4.col-xs-4.cat-thumb
                a(href='drinks.html?category=610')
                  img(src='assets/images/icon_cat_white.png')
                  br
                  small White
                //- a
              //- col-md-4
              //- 3
              .col-md-4.col-sm-4.col-xs-4.cat-thumb
                a(href='drinks-beer.html?category=660')
                  img(src='assets/images/icon_cat_beer.png')
                  br
                  small Beer
                //- a
              //- col-md-4
              //- 4
              .col-md-4.col-sm-4.col-xs-4.cat-thumb
                a(href='drinks-bubbles.html')
                  img(src='assets/images/icon_cat_sparkling.png')
                  br
                  small Bubbles
                //- a
              //- col-md-4
              //- 5
              .col-md-4.col-sm-4.col-xs-4.cat-thumb
                a(href='drinkmakers-spirit.html')
                  img(src='assets/images/icon_cat_spirits.png')
                  br
                  small Spirits
                //- a
              //- col-md-4
              //- 6
              .col-md-4.col-sm-4.col-xs-4.cat-thumb
                a(href='drinks-cider.html')
                  img(src='assets/images/icon_cat_cider.png')
                  br
                  small Cider
                //- a
              //- col-md-4
              //- 7
              .col-md-4.col-sm-4.col-xs-4.cat-thumb.col-md-offset-2.col-sm-offset-2.col-xs-offset-2
                a(href='drinkmakers-organic.html')
                  img(src='assets/images/icon_cat_organic.png')
                  br
                  small Organic
                //- a
              //- col-md-4
              //- 8
              //-
                .col-md-4.col-sm-4.col-xs-4.cat-thumb
                  img(src='assets/images/icon_cat_champagne.png')
                  a(href='#modal_coming_soon', data-toggle='modal')
                    small Champagne
                  //- a
                //- col-md-4
              //- 9
              .col-md-4.col-sm-4.col-xs-4.cat-thumb
                a(href='drinkmakers-other.html')
                  img(src='assets/images/icon_cat_dessert.png')
                  br
                  small Other
                //- a
              //- col-md-4
              .clearfix
            //- div
          //- type
        //- col-md-4

        .col-sm-6.col-md-4.col-xs-12
          .type._3.offset-img
            a.block(href='circlebuys.html')
            .shared
              img(src="assets/images/activity/image-2.png", alt="")
              header
                h1.md Group Buying
                  p.lead Buying With Friends
                    br
                    | Opens up a World of Savings
              //- header
              footer
                a.btn.btn-default(href="circlebuys.html") See how it works
              //- footer
            //- shared
          //- type
        //- col-md-4

        .clearfix.visible-sm

        .col-sm-6.col-md-4.col-xs-12
          .type.post.offset-bottom._5
            a.block(href='business.html#drinking')
            .shared
              img(src="assets/images/activity/image-1.png", alt="")
              header
                h2 Drinking Wine Can
                  br
                  | Improve Your Sex Life
                //- h1
              //- header
              .caption
                .input-group
                  span.input-group-addon
                    .thumb
                      .img
                        img(src='assets/images/favicon.png', alt='')
                      //- img
                    //- thumb
                  //- input-group-addon
                  span.form-control
                    a(href='business.html')
                      strong Drinkcircle
                    //- a
                    br
                    | Studies reveal red wine is the drink of choice for great sex...&nbsp;
                    a(href='business.html') see more
                  //- span
                //- input-group
              //- caption
            //- shared
          //- type
        //- col-md-4

        .col-sm-6.col-md-4.col-xs-12
          .type.post.offset-bottom
            a.block(href='seller-ww.html')
            .shared
              img(src="assets/images/producers/westwinds/activity1.png", alt="")
              .caption
                .input-group
                  span.input-group-addon
                    .thumb
                      .img
                        img(src='assets/images/producers/westwinds/logo.png', alt='')
                      //- img
                    //- thumb
                  //- input-group-addon
                  span.form-control
                    a(href='seller.html')
                      strong The West Winds Gin
                    //- a
                    br
                    | The Broadside is one of the most brazen and aggressive tacti...&nbsp;
                    a(href="seller.html") see more
                  //- span
                //- input-group
              //- caption
            //- shared
          //- type
        //- col-md-4

        .col-sm-6.col-md-4.col-xs-12
          .type.post
            a.block(href='seller.html')
            .shared
              img(src="assets/images/activity/image-6.png", alt="")
              .caption
                .input-group
                  span.input-group-addon
                    .thumb
                      .img
                        img(src='assets/images/likes/likes_1.png', alt='')
                      //- img
                    //- thumb
                  //- input-group-addon
                  span.form-control
                    a(href='seller.html')
                      strong Brokenwood Wines
                    //- a
                    br
                    | RRP $65 End of bin clearance exclusive for our followers $29 be quick 200 cases only...&nbsp;
                    a(href="seller.html") see more
                  //- span
                //- input-group
              //- caption
            //- shared
          //- type
        //- col-md-4

        .col-sm-6.col-md-4.col-xs-12
          .type.post.offset-bottom
            a.block(href='seller-yh.html')
            .shared
              img(src="assets/images/producers/yh/activity1.png", alt="")
              .caption
                .input-group
                  span.input-group-addon
                    .thumb
                      .img
                        img(src='assets/images/producers/yh/logo.jpg', alt='')
                      //- img
                    //- thumb
                  //- input-group-addon
                  span.form-control
                    a(href='seller-yh.html')
                      strong Young Henrys
                    //- a
                    br
                    | Mates! Our lovechild with Jameson Irish Whiskey is born and we’ve nam...&nbsp;
                    a(href="seller-yh.html") see more
                  //- span
                //- input-group
              //- caption
            //- shared
          //- type
        //- col-md-4

        .col-sm-6.col-md-4.col-xs-12
          .type.post.offset-bottom._2
            a.block(href='business.html#cooking')
            .shared
              img(src="assets/images/activity/image-8.png", alt="")
              header
                h1 The Guide To
                  br
                  | Cooking With Wine
                //- h1
              //- header
              .caption
                .input-group
                  span.input-group-addon
                    .thumb
                      .img
                        img(src='assets/images/favicon.png', alt='')
                      //- img
                    //- thumb
                  //- input-group-addon
                  span.form-control
                    a(href='business.html')
                      strong Drinkcircle
                    //- a
                    br
                    | Great tips to make the most from adding wine to your cooking...&nbsp;
                    a(href='business.html') see more
                  //- span
                //- input-group
              //- caption
            //- shared
          //- type
        //- col-md-4

        .col-sm-6.col-md-4.col-xs-12
          .type.post.offset-bottom._2
            a.block(href='business.html#whywine')
            .shared
              img(src="assets/images/activity/image-9.png", alt="")
              header
                h1 Why Wine Doesn't
                  br
                  | Make You Fat
                //- h1
              //- header
              .caption
                .input-group
                  span.input-group-addon
                    .thumb
                      .img
                        img(src='assets/images/favicon.png', alt='')
                      //- img
                    //- thumb
                  //- input-group-addon
                  span.form-control
                    a(href='business.html')
                      strong Drinkcircle
                    //- a
                    br
                    | Discover the truth that not all alcohol makes you on weight...&nbsp;
                    a(href='business.html') see more
                  //- span
                //- input-group
              //- caption
            //- shared
          //- type
        //- col-md-4

        .col-sm-6.col-md-4.col-xs-12
          .type.post.offset-bottom._2
            a.block(href='business.html#top10')
            .shared
              img(src="assets/images/activity/image-3.png", alt="")
              header
                h1 Top 10 Aussie
                  br
                  | Craft Beers
                //- h1
              //- header
              .caption
                .input-group
                  span.input-group-addon
                    .thumb
                      .img
                        img(src='assets/images/favicon.png', alt='')
                      //- img
                    //- thumb
                  //- input-group-addon
                  span.form-control
                    a(href='business.html')
                      strong Drinkcircle
                    //- a
                    br
                    | This years hottest 10 list includes a few surprises...&nbsp;
                    a(href='business.html') see more
                  //- span
                //- input-group
              //- caption
            //- shared
          //- type
        //- col-md-4

      //- row
      .loadmore
        a(href="#modal_coming_soon", data-toggle='modal', target="_blank") show more
      //- loadmore
    //- container
  //- section

block scripts
  // External Script goes here...
  script.
    $.cookie('pageactive', '', {path: '/'});

    $(document).ready(function(){
      $('.owl-carousel').owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 6000,
        autoplayHoverPause: true,
        animateOut: 'fadeOut',
        autoplaySpeed: 1000,
        mouseDrag: false,
        responsive:{
          0: {
            items: 1
          },
          600: {
            items: 1
          },
          1000: {
            items: 1
          }
        }
      });
    });


    /*
     *  Set up the login part at the top of the page.
     */
    authservice.init({
      // Environment specific values are defined in environment.js
      host: AUTHSERVICE_HOST,
      port: AUTHSERVICE_PORT,
      tenant: AUTHSERVICE_TENANT,
      pretend: AUTHSERVICE_USE_DUMMY_LOGIN,
      onUserChange: function(user, ttuat, fromCookie) {
        // If the current user came from the cookie, reload it
        //if (fromCookie) {
        //  console.log('Reloading user details (cookie details are just a summary)');
        //  return authservice.reloadUser();
        //}
      }
    });
