extends ./layout/layout_main.pug

block css
  style.

  //- style


block content

  section.drinks.results
    .container
      .text-center.visible-sm.visible-xs
        p
          a.btn.btn-success.btn-block.toggleFilter.collapsed(href='#pageFilter', data-toggle='collapse', expanded='false') Filters&nbsp;
            i.fa.fa-filter
        //- p
      //- text-center
      .row
        .col-md-3
          #pageFilter.search-dropdown.collapse
            .dropdown-wrap
              strong(data-toggle='collapse', data-target='#collapse-category') Category
              #collapse-category.collpase.in
                ul
                  li
                    input(type='checkbox')
                    | Red Wine
                  //- li
                  li
                    input(type='checkbox')
                    | White Wine
                  //- li
                  li
                    input(type='checkbox')
                    | Beer
                  //- li
                  li
                    input(type='checkbox')
                    | Cider
                  //- li
                  li
                    input(type='checkbox')
                    | Spirits
                  //- li
                  li
                    input(type='checkbox')
                    | Bubbles
                  //- li
                  li
                    input(type='checkbox')
                    | Organic
                  //- li
                //- ul
              //- collpase
              strong(data-toggle='collapse', data-target='#collapse-varietal') Varietal
              #collapse-varietal.collpase.in
                ul
                  li
                    input(type='checkbox')
                    | Shiraz
                  //- li
                  li
                    input(type='checkbox')
                    | Chardonnay
                  //- li
                  li
                    input(type='checkbox')
                    | Cabernet
                  //- li
                  li
                    input(type='checkbox')
                    | Suvignon
                  //- li
                  li
                    input(type='checkbox')
                    | Pinot Gris
                  //- li
                //- ul
              //- collapse
              strong(data-toggle='collapse', data-target='#collapse-vintage') Vintage
              #collapse-vintage.collpase.in
                ul
                  li
                    input(type='checkbox')
                    | Non Vintage
                  //- li
                  li
                    input(type='checkbox')
                    | 2016
                  //- li
                  li
                    input(type='checkbox')
                    | 2015
                  //- li
                  li
                    input(type='checkbox')
                    | Etc.
                  //- li
                //- ul
              //- collapse
              strong(data-toggle='collapse', data-target='#collapse-pack-size') Pack Size
              #collapse-pack-size.collpase.in
                ul
                  li
                    input(type='checkbox')
                    | Single Bottle
                  //- li
                  li
                    input(type='checkbox')
                    | 6 pack
                  //- li
                  li
                    input(type='checkbox')
                    | 12 pack
                  //- li
                  li
                    input(type='checkbox')
                    | 24 pack
                  //- li
                //- ul
              //- collapse
              strong(data-toggle='collapse', data-target='#collapse-country') Country
              #collapse-country.collpase.in
                ul
                  li
                    input(type='checkbox')
                    | Australia
                  //- li
                  li
                    input(type='checkbox')
                    | France
                  //- li
                  li
                    input(type='checkbox')
                    | Spain
                  //- li
                  li
                    input(type='checkbox')
                    | Italy
                  //- li
                  li
                    input(type='checkbox')
                    | New Zealand
                  //- li
                  li
                    input(type='checkbox')
                    | Argentina
                  //- li
                  li
                    input(type='checkbox')
                    | United States
                  //- li
                  li
                    input(type='checkbox')
                    | Chile
                  //- li
                  li
                    input(type='checkbox')
                    | South Africa
                  //- li
                  li
                    input(type='checkbox')
                    | Greece
                  //- li
                  li
                    input(type='checkbox')
                    | Uruguay
                  //- li
                  li
                    input(type='checkbox')
                    | Portugal
                  //- li
                  li
                    input(type='checkbox')
                    | Romania
                  //- li
                  li
                    input(type='checkbox')
                    | Austria
                  //- li
                  li
                    input(type='checkbox')
                    | Macedonia
                  //- li
                  li
                    input(type='checkbox')
                    | Hungary
                  //- li
                  li
                    input(type='checkbox')
                    | Brazil
                  //- li
                  li
                    input(type='checkbox')
                    | China
                  //- li
                  li
                    input(type='checkbox')
                    | Germany
                  //- li
                //- ul
              //- collpase
              strong(data-toggle='collapse', data-target='#collapse-region') Region
              #collapse-region.collpase.in
                ul
                  li
                    input(type='checkbox')
                    | Adelaide Hills
                  //- li
                  li
                    input(type='checkbox')
                    | Adelaide Plains
                  //- li
                  li
                    input(type='checkbox')
                    | Alphine Valleys
                  //- li
                  li
                    input(type='checkbox')
                    | Barossa Valley
                  //- li
                  li
                    input(type='checkbox')
                    | Beechworth
                  //- li
                  li
                    input(type='checkbox')
                    | Bendigo
                  //- li
                  li
                    input(type='checkbox')
                    | Blackwood Valley
                  //- li
                  li
                    input(type='checkbox')
                    | Canberra District
                  //- li
                  li
                    input(type='checkbox')
                    | Clare Valley
                  //- li
                  li
                    input(type='checkbox')
                    | Coonawarra
                  //- li
                  li
                    input(type='checkbox')
                    | Cowra
                  //- li
                  li
                    input(type='checkbox')
                    | Currency Creek
                  //- li
                  li
                    input(type='checkbox')
                    | Eden Valley Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Geelong Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Geographe Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Gippsland Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Glenrowan
                  //- li
                  li
                    input(type='checkbox')
                    | Goulburn Valley
                  //- li
                  li
                    input(type='checkbox')
                    | Grampians Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Granite Belt Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Great Southern Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Gundagai
                  //- li
                  li
                    input(type='checkbox')
                    | Hastings River
                  //- li
                  li
                    input(type='checkbox')
                    | Heathcote Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Henty
                  //- li
                  li
                    input(type='checkbox')
                    | Hilltops Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Hunter Valley Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Kangaroo Island
                  //- li
                  li
                    input(type='checkbox')
                    | King Valley Wineries
                  //- li
                  li
                    input(type='checkbox')
                    | Langhorne Creek Wineries
                  //- li
                //- ul
              //- collapse
              strong(data-toggle='collapse', data-target='#collapse-price') Price
              #collapse-price.collpase.in
                ul
                  li
                    input(type='checkbox')
                    | Under $10
                  //- li
                  li
                    input(type='checkbox')
                    | $10 - $20
                  //- li
                  li
                    input(type='checkbox')
                    | $20 - $30
                  //- li
                  li
                    input(type='checkbox')
                    | $30 - $40
                  //- li
                  li
                    input(type='checkbox')
                    | $40 - $50
                  //- li
                  li
                    input(type='checkbox')
                    | $50 - $60
                  //- li
                  li
                    input(type='checkbox')
                    | $60 - $80
                  //- li
                  li
                    input(type='checkbox')
                    | $80 - $100
                  //- li
                  li
                    input(type='checkbox')
                    | $100 - $150
                  //- li
                  li
                    input(type='checkbox')
                    | $150 - $200
                  //- li
                  li
                    input(type='checkbox')
                    | Over $200
                  //- li
                //- ul
              //- collapse
              strong(data-toggle='collapse', data-target='#collapse-ratings') Ratings
              #collapse-ratings.collpase.in
                ul
                  li
                    input(type='checkbox')
                    | Over 95
                  //- li
                  li
                    input(type='checkbox')
                    | 90 - 94
                  //- li
                  li
                    input(type='checkbox')
                    | 85 - 89
                  //- li
                  li
                    input(type='checkbox')
                    | 80 - 84
                  //- li
                  li
                    input(type='checkbox')
                    | 75 - 79
                  //- li
                  li
                    input(type='checkbox')
                    | Less than 74
                  //- li
                //- ul
              //- collapse
              strong(data-toggle='collapse', data-target='#collapse-awards') Awards
              #collapse-awards.collpase.in
                ul
                  li
                    input(type='checkbox')
                    | Trophy
                  //- li
                  li
                    input(type='checkbox')
                    | Gold
                  //- li
                  li
                    input(type='checkbox')
                    | Silver
                  //- li
                  li
                    input(type='checkbox')
                    | Bronze
                  //- li
                //- ul
              //- collapse
            //- filters-wrap
          //- dc-filters-dropdown
        //- col-md-3
        .col-md-9.card
          form.form-inline
            .form-group
              label(for='exampleInputName2') Sort by
              select.form-control
                option Most popular
              //- select
            //- form-group
            .form-group
              label(for='exampleInputEmail2') Show
              select.form-control
                option 15
                option 50
                option 100
              //- select
            //- form-group
          //- form
          hr
          .product-wrap
            .row
              // 1 Product
              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 93
                        span points
                      //- count
                    img.img-prod(src='assets/images/products/p1.jpg', alt='')
                    // Edit
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 14&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 624&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 121&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Corona Extra
                        br
                        small Imported Beer
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $39.99
                              //- a
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 94
                        span points
                      //- count
                    //- ctr
                    a(href='productdetails2.html')
                      img.img-prod(src='assets/images/products/p2.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 84&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 242&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 88&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Brokenwood
                        br
                        small Graveyard Vineyard
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $19.99
                            //- li
                            li
                              a.thumb-action(href='productdetails2.html') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 91
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p3.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 53&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 160&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 30&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Chivas Regal
                        br
                        small 12 Year Old Scotch Whisky 700mL
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $32.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 89
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p4.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 43&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 160&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 30&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Mo&eacute;t &amp; Chandon
                        br
                        small French Champagne
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $59.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 95
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p5.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 20&nbsp;
                              small circlebuys
                          //- col-md-4
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 88&nbsp;
                              small reviews
                          //- col-md-4
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 5&nbsp;
                              small reviews
                          //- col-md-4
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Absolut
                        br
                        small Vodka
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $43.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 90
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p6.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 76&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 156&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 59&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Kim Crawford
                        br
                        small Sauvignon Blanc
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $12.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 95
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p7.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 20&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 520&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 132&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Heineken
                        br
                        small Lager Stubbies
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $36.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 97
                        span points
                      //- count
                    //- ctr
                    a(href="productdetails-sticks.html")
                      img.img-prod(src='assets/images/products/p8.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 21&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 69&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 13&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Sticks
                        br
                        small Pinot Noir
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $14.99
                            //- li
                            li
                              a.thumb-action(href='productdetails-sticks.html') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 92
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p9.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 98&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 19&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 4&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Tempus Two
                        br
                        small Botrytis Semillon 250mL
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $12.50
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 96
                        span points
                      //- count
                    //- ctr
                    a(href="productdetails-rosnay.html")
                      img.img-prod(src='assets/images/products/p17.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 9&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 34&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 8&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Rosnay Organic
                        br
                        small Triple Blend
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $19.99
                            //- li
                            li
                              a.thumb-action(href='productdetails-rosnay.html') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 97
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p16.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 21&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 69&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 13&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Rosnay Organic
                        br
                        small Semillon
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $14.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 96
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p14.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 32&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 111&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 45&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Young Henrys
                        br
                        small Natural Lager
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $65.95
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 98
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p15.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 11&nbsp;
                              small circlebuys
                          //- col-md-4
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 48&nbsp;
                              small ratings
                          //- col-md-4
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 11&nbsp;
                              small reviews
                          //- col-md-4
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') West Winds Gin
                        br
                        small The Sabre
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $45.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 91
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p12.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 12&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 45&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 26&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') A by Arras
                        br
                        small Premium Cuvee
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $21.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 94
                        span points
                      //- count
                    //- ctr
                    a(href='#modal_coming_soon', data-toggle='modal')
                      img.img-prod(src='assets/images/products/p18.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 22&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 63&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 37&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Di Giorgio Family
                        br
                        small 2012 Coonawarra Sparkling Blanc De Blanc
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $29.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 93
                        span points
                      //- count
                    img.img-prod(src='assets/images/products/p10.jpg', alt='')
                    // Edit
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 14&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 624&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 121&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Somersby
                        br
                        small Apple Cider
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $39.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 94
                        span points
                      //- count
                    //- ctr
                    a(href='productdetails2.html')
                      img.img-prod(src='assets/images/products/p11.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 84&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 242&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 88&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Somersby
                        br
                        small Blackberry Cider
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $39.99
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col

              .col-sm-6.col-md-4
                .product
                  .thumb
                    .ctr
                      .count 97
                        span points
                      //- count
                    //- ctr
                    a(href='productdetails2.html')
                      img.img-prod(src='assets/images/products/p13.jpg', alt='')
                    //- a
                    .details
                      p
                      .stats
                        .row
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 34&nbsp;
                              small circlebuys
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 110&nbsp;
                              small ratings
                          //- col-md-6
                          .col-md-4.col-sm-4.col-xs-4
                            a(href='#modal_coming_soon', data-toggle='modal')
                              big 25&nbsp;
                              small reviews
                          //- col-md-6
                        //- .row
                      //- stats
                      .name
                        a(href='#modal_coming_soon', data-toggle='modal') Young Henrys
                        br
                        small Cloudy Cider
                      //- name
                      .pricing
                        .buy.drop
                          ul
                            li
                              a.thumb-action(href='#modal_compare', data-toggle='modal') Compare
                            //- li
                            li.price $65.95
                            //- li
                            li
                              a.thumb-action(href='#modal_coming_soon', data-toggle='modal') View
                            //- li
                          //- ul
                        //-buy
                      //- pricing
                    //- details
                  //- thumb
                //- product
              //- col
            //- row
          //- product-wrap
          hr
          nav.text-center(aria-label='...')
            ul.pagination.pagination-sm
              li
                a(href='#', aria-label='Previous')
                  span(aria-hidden='true') 
              li
                a(href='#modal_coming_soon', data-toggle='modal') 1
              li
                a(href='#modal_coming_soon', data-toggle='modal') 2
              li
                a(href='#modal_coming_soon', data-toggle='modal') 3
              li
                a(href='#modal_coming_soon', data-toggle='modal') 4
              li
                a(href='#modal_coming_soon', data-toggle='modal') 5
              li
                a(href='#', aria-label='Next')
                  span(aria-hidden='true') 
                //- a
              //- li
            //- ul
          //- nav
        //- col-md-9
      //- row
    //- container
  //- section

block scripts
  // External Script goes here...

  script.
    $(function () {
      $('.popover_price[data-toggle="popover"]').popover({
        html: true,
        content : function() {
          return '<ul class="cost">' + $(this).parent().find("ul").html() + '</ul>';
        },
        title: function(){
          return jQuery(this).data('title') + '<span class="close">&times;</span>';
        }
      }).on('shown.bs.popover', function(e) {
        var popover = jQuery(this);
        $(this).parent().find('.popover span.close').on('click', function(e) {
          popover.popover('hide');
        });
      }).click(function(e) {
        e.preventDefault();
      });
    });
  //- script.
//- block scripts
