extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content

  .banner.userprofile.seller
    .gradient
    .info
      .container
        .row
          .col-sm-3.col-md-3
            .photo
              .img.square
                a(href='#modal_coming_soon', data-toggle='modal')
                  i.fa.fa-camera
                //- a
                img(src="assets/images/producers/brokenwood/logo.jpg", alt="")
              //- img
              .name
                span Brokenwood Wines&nbsp;
                sup
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-pencil
                    span edit profile
                  //- a
                //- sup
                br
                small Winery &amp; Vineyard
              //- name
            //- photo
          //- col-md-3
        //- row
        .row
          .col-sm-9.col-md-9.col-sm-offset-3.col-md-offset-3
            .userprofilemenu
              nav.menu
                .btn-add-friend
                  | &nbsp;
                  a.btn.btn-success.btn-sm(href="#")
                    | Follow
                  //- a
                //- btn-add-friend
                ul
                  li
                    a(href="shop.html") Shop
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') News
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Like
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Message
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Save
                  //- li
                  li
                    a(href="seller-about.html") About
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Photos
                  //- li
                  li
                    a.active(href="seller-reviews.html") Reviews
                  //- li
                  li
                    a(href='#modal_coming_soon', data-toggle='modal') Events
                  //- li
                //- ul
              //- nav
            //- userprofilemenu
          //- col-md-6
        //- row
      //- container
    //- info
  //- banner-home

  section.userprofile
    .container
      .row
        .col-md-3
          br
          .intro.nomtop
            h4 Winery &amp; Vineyard &middot; Pokolbin, New South Wales
            .rating-status
              | 4.6
              .stars
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star-half-o
              //- stars
            //- rating-status
            hr
            .stats
              table
                tr
                  td(width='55')
                    span.star-label 5 stars
                  //- td
                  td
                    .progress
                      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                        span.sr-only 80% Complete (success)
                    //- progress
                    span.count 65
                  //- td
                //- tr
                tr
                  td
                    span.star-label 4 stars
                  //- td
                  td
                    .progress
                      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
                        span.sr-only 80% Complete (success)
                    //- progress
                    span.count 15
                  //- td
                //- tr
                tr
                  td
                    span.star-label 3 stars
                  //- td
                  td
                    .progress
                      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='5', aria-valuemin='0', aria-valuemax='100', style='width: 5%')
                        span.sr-only 80% Complete (success)
                    //- progress
                    span.count 2
                  //- td
                //- tr
                tr
                  td
                    span.star-label 2 stars
                  //- td
                  td
                    .progress
                      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='5', aria-valuemin='0', aria-valuemax='100', style='width: 5%')
                        span.sr-only 80% Complete (success)
                    //- progress
                    span.count 2
                  //- td
                //- tr
                tr
                  td
                    span.star-label 1 stars
                  //- td
                  td
                    .progress
                      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='5', aria-valuemin='0', aria-valuemax='100', style='width: 5%')
                        span.sr-only 80% Complete (success)
                    //- progress
                    span.count 3
                  //- td
                //- tr
              //- table
            //- stats
          //- intro
          .search.page
            a(href="#", target="_blank")
              i.fa.fa-search
            //- a
            input.form-control(type='text', placeholder='search for posts on this page...')
          //- search
          .list_groups.sellerinfo
            .content
              .input-group
                span.input-group-addon
                  i.fa.fa-users
                span.form-control
                  a(href='#modal_coming_soon', data-toggle='modal') 4,842 people like this
                  //- p
                //- span
              //- input-group
              .input-group
                span.input-group-addon
                  i.fa.fa-map-marker
                span.form-control
                  a(href='#modal_coming_soon', data-toggle='modal') 2,982 people have been here
                  //- p
                //- span
              //- input-group
              .input-group
                span.input-group-addon
                  i.fa.fa-user-plus
                span.form-control
                  a(href='#modal_coming_soon', data-toggle='modal')
                    | Invite friends to like this Page
                  //- p
                //- span
              //- input-group
              .form-group.text-center.linetop
                button.btn.btn-success(onclick="location.href = 'shop.html'") shop now
              //- input-group
            //- content
          //- sellerinfo

          .grid_groups.friends
            h4
              a(href='#modal_coming_soon', data-toggle='modal') Photos
              small (
                a(href='#modal_coming_soon', data-toggle='modal') 213
                | )
            //- h4
            .content
              .container-fluid
                .row
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/photos_1.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/photos_2.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/photos_3.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/photos_4.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/photos_5.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/photos_6.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/photos_7.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/photos_8.png", alt="")
                  //- col-md-4
                  .col-xs-4.col-sm-4.col-md-4.thumb
                    img(src="assets/images/photos/photos_9.png", alt="")
                  //- col-md-4
                //- row
              //- container
            //- content
            .more
              a(href='#modal_coming_soon', data-toggle='modal') See all
            //- more
          //- grid_groups
        //- col-md-3
        .col-md-9
          br
          div.ratings-content
            // Nav tabs
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#mostPopular', role='tab', data-toggle='tab') Most Popular
              //- li
              li(role='presentation')
                a(href='#mostRecent', role='tab', data-toggle='tab') Most Recent
              //- li
              li(role='presentation')
                a(href='#starRating', role='tab', data-toggle='tab') Star Rating
              //- li
            //- ul

            .tab-content
              #mostPopular.tab-pane.active(role='tabpanel')
                br
                .card
                  .media
                    .media-left
                      a(href='#modal_coming_soon', data-toggle='modal')
                        .picture
                          img.placeholder.sm(src='http://placehold.it/150', alt='placeholder')
                          img.source(src='assets/images/img_advisor_1.jpg')
                        //- picture
                      //- a
                    //- media-left
                    .media-body
                      h4.media-heading Tell people what you think
                      .rating-status.lg
                        span.left
                        .stars
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                          i.fa.fa-star-o
                        //- stars
                      //- rating-status
                    //- media-body
                  //- media
                //- card
                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/users/user_4.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Phil Callender
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p The wines ooze quality and the cellar door experience is very pleasant. I have consistently collected their Hunter reds and the ILR Semillon is a must for those who seek to enjoy the unique style of the region. Must visit in Pokilbin!
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline
                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/users/user_3.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Darren Crone
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p Great cellar door with sensational service. Rainy day and wish there was something for the kids to do (whose idea was it to bring kids anyway!!!). Don't miss this cellar door.
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline
                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/img_advisor_1.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Andrew Steer
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p We visited your cellar door yesterday &nbsp; enjoyed a tasting with Jess. We left with plenty of bottles to enjoy in the future &nbsp; also became a Cru Club Member. A big thank you to Jess for the laughs &nbsp; insight in your wonderful history &nbsp; beautiful wines !!
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline
              //- tab-pane
              #mostRecent.tab-pane(role='tabpanel')
                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/img_advisor_1.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Andrew Steer
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p We visited your cellar door yesterday &nbsp; enjoyed a tasting with Jess. We left with plenty of bottles to enjoy in the future &nbsp; also became a Cru Club Member. A big thank you to Jess for the laughs &nbsp; insight in your wonderful history &nbsp; beautiful wines !!
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline

                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/users/user_3.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Darren Crone
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p Great cellar door with sensational service. Rainy day and wish there was something for the kids to do (whose idea was it to bring kids anyway!!!). Don't miss this cellar door.
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline
                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/users/user_4.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Phil Callender
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p The wines ooze quality and the cellar door experience is very pleasant. I have consistently collected their Hunter reds and the ILR Semillon is a must for those who seek to enjoy the unique style of the region. Must visit in Pokilbin!
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline
              //- tab-pane
              #starRating.tab-pane(role='tabpanel')
                br
                p.lead 5 Star Reviews
                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/users/user_4.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Phil Callender
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p The wines ooze quality and the cellar door experience is very pleasant. I have consistently collected their Hunter reds and the ILR Semillon is a must for those who seek to enjoy the unique style of the region. Must visit in Pokilbin!
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline
                br
                .card.text-center
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-caret-down
                    | &nbsp;see more
                  //- a
                //- card
                br
                p.lead 4 Star Reviews
                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/activity/img_advisor_2.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Rodan Luzuriaga
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p The wines ooze quality and the cellar door experience is very pleasant. I have consistently collected their Hunter reds and the ILR Semillon is a must for those who seek to enjoy the unique style of the region. Must visit in Pokilbin!
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline
                br
                .card.text-center
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-caret-down
                    | &nbsp;see more
                  //- a
                //- card
                br
                p.lead 3 Star Reviews
                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/users/user_4.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Phil Callender
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p The wines ooze quality and the cellar door experience is very pleasant. I have consistently collected their Hunter reds and the ILR Semillon is a must for those who seek to enjoy the unique style of the region. Must visit in Pokilbin!
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline
                br
                .card.text-center
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-caret-down
                    | &nbsp;see more
                  //- a
                //- card
                br
                p.lead 2 Star Reviews
                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/users/user_3.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Darren Crone
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p Great cellar door with sensational service. Rainy day and wish there was something for the kids to do (whose idea was it to bring kids anyway!!!). Don't miss this cellar door.
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline
                br
                .card.text-center
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-caret-down
                    | &nbsp;see more
                  //- a
                //- card
                br
                p.lead 1 Star Reviews
                .timeline
                  .content
                    .head
                      .user
                        .img
                          img(src="assets/images/img_advisor_1.jpg", alt="")
                        //- img
                        a(href="#", target="_blank") Andrew Steer
                        span.text-muted &nbsp;reviewed&nbsp;
                        a(href="#", target="_blank") Brokenwood Wines
                        | &nbsp;&#8212;&nbsp;
                        span.badge 5&nbsp;
                          i.fa.fa-star
                        //- span
                        br
                        small September 27 at 3:20pm
                      //- user
                      .more
                        a(href='#modal_coming_soon', data-toggle='modal')
                          i.fa.fa-chevron-down
                        //- a
                      //- more
                    //- header
                    .inner
                      .caption
                        p We visited your cellar door yesterday &nbsp; enjoyed a tasting with Jess. We left with plenty of bottles to enjoy in the future &nbsp; also became a Cru Club Member. A big thank you to Jess for the laughs &nbsp; insight in your wonderful history &nbsp; beautiful wines !!
                      //- caption
                    //- inner

                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | &nbsp;1
                    //- a
                  //- content
                  .controls
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-heart
                      | Like
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-comment
                      | Comment
                    //- a
                    a(href='#modal_coming_soon', data-toggle='modal')
                      i.fa.fa-share
                      | Share
                    //- a
                  //- controls
                  .footer
                    //- .comment
                    //-   .input-group
                    //-     span.input-group-addon
                    //-       .thumb
                    //-         .img
                    //-           img(src="assets/images/img_advisor_1.jpg", alt="")
                    //-         //- img
                    //-       //- thumb
                    //-     //- input-group-addon
                    //-     input.form-control(type='text', placeholder='Write a comment...')
                    //-     span.input-group-addon
                    //-       a(href='#modal_coming_soon', data-toggle='modal')
                    //-         i.fa.fa-camera
                    //-       //- a
                    //-     //- input-group-addon
                    //-   //- input-group
                    //- //- comment
                  //- footer
                //- timeline
                br
                .card.text-center
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-caret-down
                    | &nbsp;see more
                  //- a
                //- card
              //- tab-pane
            //- tab-content
          //- div
        //- col-md-9
      //- row
    //- container
  //- section


block scripts
  // External Script goes here...
  script.
    $(document).ready(function(){

    });
