extends ./layout/layout_main.pug

block css
  style.
    .logged-in {
      display: block !important;
    }
    .logged-out {
      display: none;
    }
  //- style


block content
  div(Zng-app="myApp" Zng-controller="myCtrl" ng-cloak, directive="")

    .banner.userprofile.seller(style="background: url({{supplier._banner}});")
      .gradient
      .info
        .container
          .row
            .col-sm-3.col-md-3
              .photo
                .img.square
                  a(href='#modal_coming_soon', data-toggle='modal')
                    i.fa.fa-camera
                  //- a
                  img(ng-src="{{supplier._logo}}", alt="")
                //- img
                .name
                  span {{supplier.supplier_name}}&nbsp;
                  //- sup
                  //-   a(href='#modal_coming_soon', data-toggle='modal')
                  //-     i.fa.fa-pencil
                  //-     span edit profile
                  //-   //- a
                  //- //- sup
                  br
                  small.hide.NOTYET
                    | Winery &amp; Vineyard
                  br
                //- name
              //- photo
            //- col-md-3
          //- row
          
          .row
            .col-sm-9.col-md-9.col-sm-offset-3.col-md-offset-3
              .userprofilemenu
                nav.menu
                  .btn-add-friend.hide.NOTYET
                    | &nbsp;
                    a.btn.btn-success.btn-sm(href="#")
                      | Follow
                    //- a
                  //- btn-add-friend
                  ul
                    li
                      a(href="seller.html?supplier={{supplierId}}") News
                    //- li
                    li
                      a.active(href="#") Shop
                    li
                      a(href="supplier-maint.html?supplier={{supplierId}}") Maintenance
                    //- li
                    //- li
                    //-   a(href='#modal_coming_soon', data-toggle='modal') Shipping
                    //- //- li
                    //- li
                    //-   a(href='#modal_coming_soon', data-toggle='modal') Return Policy
                    //- //- li
                    //- li
                    //-   a(href='#modal_coming_soon', data-toggle='modal') Circlebuys
                    //- //- li
                    //- li
                    //-   a(href='#modal_coming_soon', data-toggle='modal') Contact Us
                    //- //- li
                    //- li
                    //-   a(href='#modal_coming_soon', data-toggle='modal') About Us
                    //- //- li
                  //- ul
                //- nav
              //- userprofilemenu
            //- col-md-6
          //- row
        //- container
      //- info
    //- banner-home


    section.userprofile.drinks.results
      .container
        .row

          // Options on the left side
          .col-md-3
            reviews-summary(hero="ctrl.hero" on-done="heroDetailClick(val)")

            br
            .search.form-icon
              a.icon(href='#', target='_blank')
                i.fa.fa-search
              //- a
              input.form-control(type='text', placeholder='search {{supplier.supplier_name}}...')
            //- search
            .seller-categories
              h3 Wines
              h4
                a(href='#modal_coming_soon', data-toggle='modal') Cricket Pitch
              //- h4
              h4
                a(href='#modal_coming_soon', data-toggle='modal') Varietal
              //- h4
              h4
                a(href='#modal_coming_soon', data-toggle='modal') Single Vineyard
              //- h4
              h4
                a(href='#modal_coming_soon', data-toggle='modal') Icon
              //- h4
              h4
                a(href='#modal_coming_soon', data-toggle='modal') Dessert
              //- h4
              h4
                a(href='#modal_coming_soon', data-toggle='modal') Packs &amp; Specials
              //- h4
            //- card
          //- col-md-3

          // Right side with products - the main part of the page
          .col-md-9
            br
            form.form-inline.hide.NOTYET
              .form-group
                label(for='exampleInputName2') Sort by
                select.form-control
                  //- option Highest rated
                  //- option Most reviews
                  option(ng-click=" sortType='name' ; sortReverse=false ") A to Z
                  option(ng-click=" sortType='name' ; sortReverse=true ") Z to A
                //- select
              //- form-group
              //- .form-group
              //-   label(for='exampleInputEmail2') Show
              //-   select.form-control
              //-     option 15
              //-     option 50
              //-     option 100
              //-   //- select
              //- //- form-group
            //- form
            hr

            // The actual product list
            .product-wrap#products

              .row


                // Loop through our product variants

                .col-sm-6.col-md-4(ng-repeat="variant in variants | orderBy:sortType:sortReverse" ng-cloak)
                  .product
                    input.product-id(type='hidden', value='{{variant.productVariantId}}')
                    .thumb
                      .ctr
                        .count.product-rating.patch-in-average-product-rating(productVariantId="{{variant.productVariantId}}" style='display:none')
                          | -
                        span.pointContainer(productVariantId="{{variant.productVariantId}}" style='display:none')
                          | drinker's
                          br
                          | points
                        //.first-rating-small(productVariantId="{{variant.productVariantId}}" style='display:none')
                        .first-rating-small(productVariantId="{{variant.productVariantId}}" style='display:none')
                          a(href="/product-ratings.html?product={{variant.productVariantId}}")
                            | Be the
                            br
                            | first
                            br
                            | to rate
                        //- count
                      a(href='productdetails2.html?product={{variant.productVariantId}}')
                        img.Zimg-prod.img_responsive(ng-src='{{variant._image}}', alt='')
                      //- a
                      // Edit
                      .details
                        p
                        .name
                          a(href='productdetails2.html?product={{variant.productVariantId}}') {{variant.manufacturer}}
                          br
                          small {{variant.name}}
                        //- name
                        .pricing
                          .buy.drop
                            ul
                              li
                                a.thumb-action(ng-click="addToCompare(variant.productVariantId)", data-toggle='modal') Compare
                              //- li
                              li.price {{variant.displayPrice}}
                              //- li
                              li
                                a.thumb-action(href='/productdetails2.html?product={{variant.productVariantId}}', data-toggle='modal') View
                              //- li
                            //- ul
                          //-buy
                        //- pricing
                      //- details
                    //- thumb
                  //- product
                //- col
              //- row
            //- product-wrap
            hr.hide.NOTYET
            nav.text-center(aria-label='...').hide.NOTYET
              ul.pagination.pagination-sm
                li
                  a(href='#', aria-label='Previous')
                    span(aria-hidden='true') «
                li
                  a(href='#modal_coming_soon', data-toggle='modal') 1
                li
                  a(href='#modal_coming_soon', data-toggle='modal') 2
                li
                  a(href='#modal_coming_soon', data-toggle='modal') 3
                li
                  a(href='#modal_coming_soon', data-toggle='modal') 4
                li
                  a(href='#modal_coming_soon', data-toggle='modal') 5
                li
                  a(href='#', aria-label='Next')
                    span(aria-hidden='true') »
                  //- a
                //- li
              //- ul
            //- nav
          //- col-md-9
        //- row
      //- container
    //- section


block scripts
  // External Script goes here...
  script(src='assets/vendor/crowdhound/chsearchresultrating.js', type="text/javascript")
  script(src='assets/vendor/crowdhound/chratingsandreview.js', type="text/javascript")
  
  script(src='assets/vendor/pastac/heroDetail/heroDetail.js', type="text/javascript")
  script(src='assets/vendor/pastac/reviews-summary/reviews-summary.js', type="text/javascript")
  script(src="/bower_components/cloudinary/js/jquery.cloudinary.js", type="text/javascript")
  script(src='assets/scripts/image-paths.js', type="text/javascript")
  
  script.

    /************************************************************
     *
     *    Angular code.
     */
    var app = angular.module('myApp', ['ngSanitize', 'pastacat', 'pastac-reviews', 'pastac-login']);
    // Initialise teaservice
    teaservice.init({
      host: TEASERVICE_HOST,
      port: TEASERVICE_PORT,
      accessToken: TEASERVICE_ACCESS_TOKEN
    });
    app.controller('pageCtrl', function($scope, teaService) {
      
      var cl = null; // Cloudinary API
      
      // Handle the logging in
      $scope.authserviceConfig = {
        host: AUTHSERVICE_HOST,
        port: AUTHSERVICE_PORT,
        tenant: AUTHSERVICE_TENANT,
        dummyLogin: AUTHSERVICE_USE_DUMMY_LOGIN
      };
      $scope.userHandler = {
        onUserChange: function(user, ttuat, stale) {
          /*if (user) {
            alert('Have user')
          } else {
            alert('Have no user')
          }*/
          console.log('Wow, the user changed!', user);
          $scope.currentUser = user;
          $scope.ttuat = ttuat;
        }
      }

      

      $scope.heroDetailClick = function(name) {
        alert('rubbery: ' + name);
      }

      // Get the "supplierId" parameter from the URL.
      var supplierId = null;
      console.log('window.location=' + window.location + '.')
      window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) {
        //console.log('xx:' + key + ':' + value + ':');
        if (key === 'supplier') {
          supplierId = value;
        }
      });
      console.log('Displaying the page for supplierId=' + supplierId);
      if ( !supplierId) {
        window.location.href = 'index.html';
      }
      $scope.supplierId = supplierId;





      // Get the product details from TEA.
      teaService.getProduct({
        //categoryId: 5,
        supplierId: supplierId,
        needPricing: true,
        needImages: true,
        needSpecifications: true
      }).then(function(products){
        console.log('BACK FROM getProduct():', products);

        // Put all the variants in a single list
        var variants = [ ];
        $(products).each(function(index, product) {

          // These will all be for the same supplier.
          $scope.supplier = product.supplier;
          imagePaths_setSupplierImages($scope.supplier);

          //console.log('-> GOT product ' + index, product);
          $(product.variants).each(function(i, variant) {

            // Decide what image to use
            imagePaths_setVariantImages(variant);

            //computation for display price
            var lowestPrice = variant.lastPrice;
            if (variant.pricing && variant.pricing.length > 0) {
              for (var i = 0; i < variant.pricing.length; i++) {
                var pricing = variant.pricing[i];

                if (pricing.pricingQuantity && pricing.pricingQuantity.length > 0) {
                  for (var j = 0; j < pricing.pricingQuantity.length; j++) {
                    var price = pricing.pricingQuantity[j].price;
                    if (price < lowestPrice) {
                      lowestPrice = price;
                    }
                  }
                }
              }
            }
            variant.displayPrice = accounting.formatMoney(lowestPrice);

            variants.push(variant);
          });
        });
        $scope.variants = variants;
      });

      $scope.sortType     = 'name'; // set the default sort type
      $scope.sortReverse  = false;  // set the default sort order

      /*
       *  Functions to keep track of which products will be compared.
       */
      var COMPARE_COOKIE = 'idsForCompare';
      var compare_productVariantIds = [ ];
      var cookie = authservice.getCookie(COMPARE_COOKIE);
      if (cookie) {
        compare_productVariantIds = cookie.split(',');
        if (compare_productVariantIds.length == 1 && compare_productVariantIds[0] == '') {
          compare_productVariantIds = [ ];
        }
      } else {
        compare_productVariantIds = [ ];
      }
      console.log('ids=', compare_productVariantIds);

      // Add a new product to compare
      $scope.addToCompare = function(productVariantId) {
        console.log('addToCompare ' + productVariantId);
        // See if it's already in the list
        for (var i = 0; i < compare_productVariantIds.length; i++) {
          if (compare_productVariantIds[i] == productVariantId) {
            console.log('ids=', compare_productVariantIds);
            //pop up message here
            bootbox.alert("This item is already in your compare list.", function(){});
            return;
          }
        }

        compare_productVariantIds.unshift(productVariantId);
        while (compare_productVariantIds.length > 3) {
          compare_productVariantIds.pop();
        }
        console.log('ids=', compare_productVariantIds);

        //ZZZ Should show 'modal_compare' first.
        // Save the new cookie value.
        var sep = '';
        var cookie = '';
        for (var i = 0; i < compare_productVariantIds.length; i++) {
          cookie += sep + compare_productVariantIds[i];
          sep = ',';
        }
        console.log('new cookie is ' + cookie + '.');
        authservice.setCookie(COMPARE_COOKIE, cookie, 30); // keep it a maximum of a month

        if (compare_productVariantIds.length > 1) {
          window.location.href = 'compare.html';
        } else {
          alert('Select another drink to see the comparison');
        }

      }


      /*
       *  Initialize CrowdHound and get the product ratings.
       */
      CrowdHound.init({
            serverUrl : '//' + CROWDHOUND_HOST + ':' + CROWDHOUND_PORT,
            apiVersion : CROWDHOUND_VERSION,
            tenantId : CROWDHOUND_TENANT,
            debug: false,
            authenticationToken: authservice.getUserAccessToken(),
            cookers: {
                //cook_avatars : cookAvatars, //definition is in the curia_js widget
                cook_ratings: chratingsandreview.cookRatings
            },
            themes : {
                "productReview": {
                    "product-reviews_0" : "#reviewList",
                    "review_0" : "#review"
                }
            }
      }, function afterCuriaInit() {

        // Load the reviews
        //chratingsandreview.loadReviews(productVariantId);

        // Patch in the average ratings
        setTimeout(function() {
          chratingsandreview.patchInProductRatings();

        }, 1000);
      }); // CrowdHound.init





    });

    

  //- script.
//- block scripts
