-
  var circlebuy = [
    /*
    {
      catalog   : true,
      brand     : "Brokenwood",
      type      : "Graveyard Vineyard Shiraz 2010",
      name      : "Adrian",
      qty       : "10",
      savings   : "8",
      sold      : "8",
      left      : "2",
      ring      : "_70p",
      img       : "assets/images/circles/circles_8.png",
      time      : "04:56.12",
      pack      : "6",
      packprice : "119.94",
      price     : "19.99",
      filter    : "red"
    },
    {
      catalog   : true,
      brand     : "Sticks",
      type      : "Pinot Noir 2015",
      name      : "Charmaine",
      qty       : "10",
      savings   : "8",
      sold      : "5",
      left      : "5",
      ring      : "_50p",
      img       : "assets/images/circles/circles_1.png",
      time      : "16:08.00",
      pack      : "12",
      packprice : "179.88",
      price     : "14.99",
      filter    : "red"
    },
    {
      catalog   : true,
      brand     : "Rosnay Organic",
      type      : "Triple Blend 2015",
      name      : "Jenny",
      qty       : "5",
      savings   : "8",
      sold      : "3",
      left      : "2",
      ring      : "_40p",
      img       : "assets/images/circles/circles_7.png",
      time      : "32:12.00",
      pack      : "12",
      packprice : "167.88",
      price     : "13.99",
      filter    : "red"
    },
    {
      catalog   : true,
      brand     : "Corona Extra",
      type      : "Imported Beer",
      name      : "Rodan",
      qty       : "20",
      savings   : "8",
      sold      : "16",
      left      : "4",
      ring      : "_s20",
      img       : "assets/images/users/user_2.jpg",
      time      : "02:04.00",
      pack      : "24",
      packprice : "39.99",
      price     : "39.99",
      filter    : "beer"
    },
    {
      catalog   : true,
      brand     : "Chivas Regal",
      type      : "12 Year Old Scotch Whisky",
      name      : "Rodan",
      qty       : "12",
      savings   : "8",
      sold      : "8",
      left      : "4",
      ring      : "cb8of12",
      img       : "assets/images/users/user_2.jpg",
      time      : "02:04.00",
      pack      : "",
      packprice : "",
      price     : "32.99",
      filter    : "spirits"
    },
    {
      catalog   : true,
      brand     : "Somersby",
      type      : "Apple Cider",
      name      : "Jeff",
      qty       : "3",
      savings   : "8",
      sold      : "2",
      left      : "1",
      ring      : "_s3",
      img       : "assets/images/circles/circles_3.png",
      time      : "08:20.00",
      pack      : "24",
      packprice : "41.99",
      price     : "41.99",
      filter    : "cider"
    },
    {
      catalog   : true,
      brand     : "Somersby",
      type      : "Blackberry Cider",
      name      : "Joy",
      qty       : "6",
      savings   : "8",
      sold      : "2",
      left      : "4",
      ring      : "_s6",
      img       : "assets/images/friends/friends_6.png",
      time      : "26:21.00",
      pack      : "24",
      packprice : "39.99",
      price     : "39.99",
      filter    : "cider"
    },
    {
      catalog   : true,
      brand     : "Moet & Chandon",
      type      : "French Champagne",
      name      : "Charmaine",
      qty       : "12",
      savings   : "8",
      sold      : "6",
      left      : "6",
      ring      : "cb6of12",
      img       : "assets/images/circles/circles_1.png",
      time      : "16:08.00",
      pack      : "",
      packprice : "",
      price     : "59.99",
      filter    : "bubbles"
    },
    {
      catalog   : true,
      brand     : "Absolut",
      type      : "Vodka",
      name      : "Jenny",
      qty       : "12",
      savings   : "8",
      sold      : "7",
      left      : "5",
      ring      : "cb7of12",
      img       : "assets/images/circles/circles_7.png",
      time      : "32:12.00",
      pack      : "",
      packprice : "",
      price     : "43.99",
      filter    : "spirits"
    },
    {
      catalog   : true,
      brand     : "Kim Crawford",
      type      : "Sauvignon Blanc",
      name      : "Adrian",
      qty       : "10",
      savings   : "8",
      sold      : "7",
      left      : "3",
      ring      : "_70p",
      img       : "assets/images/circles/circles_8.png",
      time      : "15:56.12",
      pack      : "6",
      packprice : "77.94",
      price     : "12.99",
      filter    : "white"
    },
    {
      catalog   : true,
      brand     : "Heineken",
      type      : "Lager Stubbies",
      name      : "Jenny",
      qty       : "3",
      savings   : "8",
      sold      : "1",
      left      : "2",
      ring      : "_s3",
      img       : "assets/images/friends/friends_5.png",
      time      : "18:41.00",
      pack      : "24",
      packprice : "36.99",
      price     : "36.99",
      filter    : "beer"
    },
    {
      catalog   : true,
      brand     : "Tempus Two",
      type      : "Botrytis Semillon",
      name      : "Greg",
      qty       : "10",
      savings   : "8",
      sold      : "7",
      left      : "3",
      ring      : "_70p",
      img       : "assets/images/friends/friends_7.png",
      time      : "10:32.00",
      pack      : "6",
      packprice : "75",
      price     : "12.50",
      filter    : "white"
    },
    {
      catalog   : true,
      brand     : "Rosnay Organic",
      type      : "Semillon",
      name      : "Cathy",
      qty       : "10",
      savings   : "8",
      sold      : "7",
      left      : "3",
      ring      : "_70p",
      img       : "assets/images/users/user_5.jpg",
      time      : "04:56.00",
      pack      : "12",
      packprice : "167.88",
      price     : "13.99",
      filter    : "white"
    },
    {
      catalog   : true,
      brand     : "Young Henrys",
      type      : "Natural Lager",
      name      : "Rodan",
      qty       : "20",
      savings   : "8",
      sold      : "16",
      left      : "4",
      ring      : "_s20",
      img       : "assets/images/users/user_2.jpg",
      time      : "02:04.00",
      pack      : "24",
      packprice : "65.95",
      price     : "65.95",
      filter    : "beer"
    },
    {
      catalog   : true,
      brand     : "West Winds Gin",
      type      : "The Sabre",
      name      : "Jeff",
      qty       : "12",
      savings   : "8",
      sold      : "3",
      left      : "9",
      ring      : "cb3of12",
      img       : "assets/images/circles/circles_3.png",
      time      : "08:20.00",
      pack      : "",
      packprice : "",
      price     : "45.99",
      filter    : "spirits"
    },
    {
      catalog   : true,
      brand     : "A by Arras",
      type      : "Premium Cuvee",
      name      : "Adrian",
      qty       : "10",
      savings   : "8",
      sold      : "8",
      left      : "2",
      ring      : "_70p",
      img       : "assets/images/circles/circles_8.png",
      time      : "04:56.00",
      pack      : "6",
      packprice : "131.94",
      price     : "21.99",
      filter    : "bubbles"
    },
    {
      catalog   : false,
      brand     : "Di Giorgio Family",
      type      : "Coonawarra Sparkling Blac De Blanc",
      name      : "Adrian",
      qty       : "10",
      savings   : "8",
      sold      : "8",
      left      : "2",
      ring      : "_70p",
      img       : "assets/images/circles/circles_8.png",
      time      : "04:56.00",
      pack      : "6",
      packprice : "179.94",
      price     : "29.99",
      filter    : "bubbles"
    },
    {
      catalog   : false,
      brand     : "Young Henrys",
      type      : "Cloudy Cider",
      name      : "Rodan",
      qty       : "20",
      savings   : "8",
      sold      : "16",
      left      : "4",
      ring      : "_s20",
      img       : "assets/images/users/user_2.jpg",
      time      : "02:04.00",
      pack      : "24",
      packprice : "99.00",
      price     : "99.00",
      filter    : "cider"
    }
    */
  ]
