footer
  .container
    small
      a(href='../about.html') about
      | &nbsp;&middot;&nbsp;
      a(href='../privacy-policy.html') privacy policy
      | &nbsp;&middot;&nbsp;
      a(href='../terms-of-use.html') terms of use
      | &nbsp;&middot;&nbsp;
      a(href='mailto:contact@drinkcircle.com') contact
      .logo
        i.fa.fa-cloud
        span CloudMall
      //- logo
    //- small
  //- container
//- footer
