header
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //a.navbar-brand(href='#') Drink Circle
        a.navbar-brand(href='index.html')
          img(src="assets/images/logo_green.png", alt="")
        //- a
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-left
          li
            .form-group.all-search.hide.NOTYET
              i.fa.fa-search
              input.form-control(type='text', placeholder='Search drinks, drinkmakers, ratings, circlebuys, people and more...')
              a.save-search.color.inherit(href='#modal_coming_soon', data-toggle='modal')
                i.fa.fa-star-o
                span.hidden-xs save search
            //- form-group
          //- li
        //- ul

        // Menu if logged in.
        ul(ng-hide="!currentUser").nav.navbar-nav.navbar-right.authservice-logged-inZ
          li.dropdown
            a.dropdown-toggle.info(href='profile.html', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false' ng-cloak)
              img.pastac-login-navbar-avatar(ng-hide="!currentUser.avatar" ng-src="{{currentUser.avatar}}", alt="")
              //- img(Zstyle="display:none;" ng-src="{{currentUser.avatar}}", alt="").authservice-current-user-avatarZ
              span(ng-hide="currentUser.avatar").fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-user.fa-stack-1x.fa-inverse
              span.pastac-login-navbar-name &nbsp;Hi {{currentUser.firstname}} !
            ul.dropdown-menu
              li
                a(href='myprofile.html') Profile
              //- li
              //- li
              //-   a(href='profile.html#circlebuys') Circlebuy
              //- //- li
              //- li
              //-   a(href='profile.html#circles') Circles
              //- //- li
              //- li
              //-   a(href='#modal_coming_soon', data-toggle='modal') My Orders
              //- //- li
              li.divider(role='separator')
              li
                a(id="authservice-logout-button" data-toggle='modal') Sign out
              //- li
            //- ul
          //- li
          //- li.text-center
          //-   a.notification(href='#')
          //-     i.fa.fa-bell
          //-     .counter 2
          //-   //- a
          //- //- li
          li
            a.cart-icon(href='/shopping-cart.html')
              i.fa.fa-shopping-cart
            //- a
          //- li

        //- ul


        // Menu if not logged in
        //- ul(style="display:none;").nav.navbar-nav.navbar-right.authservice-logged-out
        //-   li.dropdown
        //-     a.dropdown-toggle.info(Zid="authservice-user-dropdown" data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
        //-       span.fa-stack.fa-lg
        //-         i.fa.fa-circle.fa-stack-2x
        //-         i.fa.fa-user.fa-stack-1x.fa-inverse
        //-       //img(src="assets/images/img_advisor_1.jpg", alt="")
        //-       | &nbsp;sign in OLD
        //- 
        //-     ul.dropdown-menu
        //-       // LOGIN
        //-       li
        //-         //a(id="authservice-login-button" href="#") Sign in
        //-         div(id="authservice-login-div")
        //-           form
        //-             div.form-group
        //-               input(type="email" id="authservice-login-username" placeholder="Username").form-control
        //-             div.form-group
        //-               input(type="password" id="authservice-login-password" placeholder="Password").form-control
        //-             button(type="submit" id="authservice-login-submit" onclick="return false;").btn.btn-default sign in
        //-           //- form
        //-           div(id="authservice-login-errmsg" role="alert" style="display:none;").alert.alert-danger
        //-             span.glyphicon.glyphicon-exclamation-sign.aria-hidden
        //-             span.sr-only Error:
        //-             | Invalid email / password
        //-           //- div
        //-         //- div
        //-       //- li
        //- 
        //-       // FORGOT PASSWORD
        //-       //- li.authservice-loggedin-section
        //-       //-   a(id="authservice-forgot-button" href="#") Forgot password
        //-       //-   div(id="authservice-forgot-div" style="display:none;")
        //-       //-     p
        //-       //-       | Forgot your password? No problem. Enter your email address below and we'll
        //-       //-       | well send you an email with details on how to reset your password.
        //-       //-     form
        //-       //-       div.form-group
        //-       //-         input(type="email" id="authservice-forgot-username" placeholder="Email").form-control
        //-       //-       button(type="submit" id="authservice-forgot-submit").btn.btn-default Send the email
        //-       //-       button(type="submit" id="authservice-forgot-cancel").btn.btn-default cancel
        //-       //-     //- form
        //-       //-     div(id="login-errmsg" role="alert" style="display:none;").alert.alert-danger
        //-       //-       span(aria-hidden="true").glyphicon.glyphicon-exclamation-sign
        //-       //-       span.sr-only Error:
        //-       //-       | Invalid email / password
        //-       //-   //- div
        //-       //-   div(id="authservice-forgot-done" style="display:none;")
        //-       //-     p
        //-       //-       | We have sent an email to <div id="authservice-forgot-email2"></div> with
        //-       //-       | instructions to reset your password.
        //-       //-     button(type="submit" id="authservice-forgot-ok").btn.btn-default ok
        //-       //-   //- div
        //-       //- //- li
        //- 
        //- 
        //-       // REGISTER
        //-       //- li.authservice-loggedin-section
        //-       //-   a(id="authservice-register-button" href="#") Register
        //-       //-   div(id="authservice-register-div" style="display:none;")
        //-       //-     form
        //-       //-       p
        //-       //-         | Hi!
        //-       //-         | Enter your email address and a password and we'll
        //-       //-         | be happy to sign you up.
        //-       //-       //- p
        //-       //-       div.form-group
        //-       //-         input(type="email" id="authservice-register-username" placeholder="Email").form-control
        //-       //-       //- div
        //-       //-       div.form-group
        //-       //-         input(type="password" id="authservice-register-password" placeholder="Password").form-control
        //-       //-       //- div
        //-       //-       button(type="submit" id="authservice-register-submit").btn.btn-default register
        //-       //-       button(type="submit" id="authservice-register-cancel").btn.btn-default cancel
        //-       //-     //- form
        //-       //-     div(id="login-errmsg" role="alert" style="display:none;").alert.alert-danger
        //-       //-       span(aria-hidden="true").glyphicon.glyphicon-exclamation-sign
        //-       //-       span.sr-only Error:
        //-       //-       | Invalid email / password
        //-       //-     //- div
        //-       //-   //- authservice-register-div -->
        //-       //-   div(id="authservice-register-done" style="display:none;")
        //-       //-     p
        //-       //-       | Congratulations, you now have a user account.
        //-       //-       | We have sent you an email to verify you email address.
        //-       //-     p
        //-       //-       | Please take a moment to check your email and complete
        //-       //-       | the registration process.
        //-       //-     button(type="submit" id="authservice-register-ok").btn.btn-default ok
        //-       //-   //- div
        //-       //- //- li
        //- 
        //-   // Shopping cart
        //-   li
        //-     a.cart-icon(href='/shopping-cart.html')
        //-       i.fa.fa-shopping-cart
        //-     //- a
        //-   //- li
        //- //- ul

        
        ul.nav.navbar-nav.navbar-right
          li
            pastac-login(config="authserviceConfig" template="navbar" handler="userHandler" fresh-credentials="true" signin="true" hide-logout="true" facebook="true")


        // Navbar - DRINKS, RED, WHITE, etc
        //- .clearfix
        //- .div
        ul.nav.navbar-nav.navbar-left.nav-category
          li
            a(href='drinks.html?category=1') Drinks
            //- ul
            //-   li
            //-     a(href='#modal_coming_soon', data-toggle='modal') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          //- li
          //-   a(href='drinks.html?category=1').navbar-drinktype Red
          //-   //- ul
          //-   //-   li
          //-   //-     a(href='#modal_coming_soon', data-toggle='modal') Sub Menu
          //-   //-   //- li
          //-   //- //- ul
          //- //- li
          //- li
          //-   a(href='drinks.html?category=2').navbar-drinktype White
          //-   //- ul
          //-   //-   li
          //-   //-     a(href='#modal_coming_soon', data-toggle='modal') Sub Menu
          //-   //-   //- li
          //-   //- //- ul
          //- //- li
          //- li
          //-   a(href='drinks.html?category=3').navbar-drinktype Beer
          //-   //- ul
          //-   //-   li
          //-   //-     a(href='#modal_coming_soon', data-toggle='modal') Sub Menu
          //-   //-   //- li
          //-   //- //- ul
          //- //- li
          //- li
          //-   a(href='drinks.html?category=4').navbar-drinktype Spirits
          //-   //- ul
          //-   //-   li
          //-   //-     a(href='#modal_coming_soon', data-toggle='modal') Sub Menu
          //-   //-   //- li
          //-   //- //- ul
          //- //- li
          //- li
          //-   a(href='drinks.html?category=5').navbar-drinktype Bubbles
          //-   //- ul
          //-   //-   li
          //-   //-     a(href='#modal_coming_soon', data-toggle='modal') Sub Menu
          //-   //-   //- li
          //-   //- //- ul
          //- //- li
          //- li
          //-   a(href='drinks.html?category=6').navbar-drinktype Cider
          //-   //- ul
          //-   //-   li
          //-   //-     a(href='#modal_coming_soon', data-toggle='modal') Sub Menu
          //-   //-   //- li
          //-   //- //- ul
          //- //- li
          li
            a(href='drinkmakers.html') Drinkmakers
            //- ul
            //-   li
            //-     a(href='#modal_coming_soon', data-toggle='modal') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li
            a(href='circlebuying.html') Circlebuys
          //- li
          //- li
          //-   a(href='#interests', data-toggle='modal') Interests
          //- li
          li.hide.NOTYET
            a(href='ratings.html') Ratings
          //- li
          li
            a(href='compare.html') Compare
          //- li
          //- li
          //-   a(href='profile.html') Post
            //- ul
            //-   li
            //-     a(href='#modal_coming_soon', data-toggle='modal') Sub Menu
            //-   //- li
            //- //- ul
          //- li
          li.authservice-logged-in
            a(href='profile.html') Wall
          //- li
          li.authservice-logged-in
            a.admin-menu-option(href='admin.html') Admin
          //- li
        //- ul
      //- #navbar
    //- container
  //- nav
//- header
