#buymode.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4#myModalLabel.modal-title Buy Options
      //- modal-header
      .modal-body
        a.btn.btn-success.btn-block(href="#") Buy Now
        p
        p.text-center
          small or
        a.btn.btn-info.btn-block(href="#")
          i.fa.fa-group
          | &nbsp;&nbsp;Join a Group
      //- modal-body
    //- modal-content
  //- modal-dialog
//- modal


#interests.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        //- button
        h4.modal-title.text-center Tell us what you like
          br
          small Select your interest from the list below
        //- h4
      //- modal-header
      table.filter
        tr
          td
            a(href='#modal_coming_soon', data-toggle='modal') Select all interests
          //- td
          td
            .following Liking | 0
          //- td
          td
            a(href='#modal_coming_soon', data-toggle='modal') Find other drinklovers with similar interests
          //- td
        //- tr
      //- table
      .modal-body
        .row
          //- 1
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in9.jpg')
              .label Red
            //- interest-thumb
          //- col-md-3
          //- 2
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in8.jpg')
              .label White
            //- interest-thumb
          //- col-md-3
          //- 3
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in3.jpg')
              .label Beer
            //- interest-thumb
          //- col-md-3
          //- 4
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in1.jpg')
              .label Spirits
            //- interest-thumb
          //- col-md-3
          //- 5
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in17.jpg')
              .label Bubbles
            //- interest-thumb
          //- col-md-3
          //- 6
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in13.jpg')
              .label Cider
            //- interest-thumb
          //- col-md-3
          //- 7
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in5.jpg')
              .label Travel
            //- interest-thumb
          //- col-md-3
          //- 8
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in10.jpg')
              .label Cooking
            //- interest-thumb
          //- col-md-3
          //- 9
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in11.jpg')
              .label Music
            //- interest-thumb
          //- col-md-3
          //- 10
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in14.jpg')
              .label Movies
            //- interest-thumb
          //- col-md-3
          //- 11
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in16.jpg')
              .label Sport
            //- interest-thumb
          //- col-md-3
          //- 12
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in12.jpg')
              .label Outdoors
            //- interest-thumb
          //- col-md-3
          //- 13
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in6.jpg')
              .label Fashion
            //- interest-thumb
          //- col-md-3

          //- 14
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in7.jpg')
              .label Art
            //- interest-thumb
          //- col-md-3
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in2.jpg')
              .label Dining Out
            //- interest-thumb
          //- col-md-3
          .col-md-3
            .interest-thumb
              img(src='assets/images/interests/in4.jpg')
              .label Reading
            //- interest-thumb
          //- col-md-3
        //- row
      //- modal-body
      .modal-footer
        .text-center
          button.btn.btn-success.btn-lg(type='button', data-dismiss='modal') Done
        //- text-cente3
      //- modal-footer
    //- modal-content
  //- modal-dialog
//- modal

#article_sex.modal_article.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        //- button
        h4.modal-title.text-center
        //- h4
      //- modal-header
      .modal-body
        //- h3.text-center Drinking Wine Can Improve Your Sex Life
        img.img-responsive.center-block(src='assets/images/tmp/post_1_thumb.png')
        br
        article
          p In a study published in the Journal of Sexual Medicine, Italian researchers claim that sex drives are higher in women who prefer red wine as opposed to those who prefer other alcoholic beverages.
          p University of Florence doctors surveyed 800 women, all between the ages of 18 and 50, and separated them into three groups based on their drinking habits: red wine drinkers, those who prefer other alcoholic drinks and those who abstain entirely.
          p The women were then asked to complete a questionnaire assessing their interest in sex. Called the Female Sexual Function Index, the survey included 19 questions that resulted in a score between 2 and 36 (with the higher scores indicating a higher sex drive).
          p On average, women who drank one or two glasses of red wine a day scored 27.3 points, compared to 25.9 for non-red wine imbibers and 24.4 for those who abstain.
          p The results indicate a possible relationship between regular red wine consumption and libido. However, the real question is, do women with naturally higher sex drives tend to drink red wine or does red wine truly have an effect on one's sexual appetite? Even the researchers themselves say the findings need to be interpreted with "caution."
          p But the lack of conclusive evidence isn't enough reason to dismiss red wine just yet. Many other studies have shown that a small glass each day benefits the heart. So if your sex drive improves in the process, that's just icing on the cake, right?
        //- article
      //- modal-body
      .modal-footer
        .text-center
          button.btn.btn-success.btn-lg(type='button', data-dismiss='modal') Done
        //- text-cente3
      //- modal-footer
    //- modal-content
  //- modal-dialog
//- modal

#article_cooking.modal_article.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        //- button
        h4.modal-title.text-center
        //- h4
      //- modal-header
      .modal-body
        //- h3.text-center The Guide To Cooking With Wine
        img.img-responsive.center-block(src='assets/images/tmp/post_2_thumb.png')
        br
        article
          p There are many benefits from cooking with wine such as:
          ol
            li It allows you to add moisture without adding fat.
            li It adds extra flavour to your meal.
            li If the bottle is opened for cooking, it should be tasted by the cook!
          //- ol
          p Here are a few tips to help you get the best results when cooking with wine:
          ol
            li
              strong Make sure you can no longer smell the alcohol before taking it off the heat.
              br
              | Right when you pour the wine in, you will be able to smell the alcohol coming off the pan. Wait until that initial smell dissipates before taking your sauce off the heat or adding your next ingredient.
            li
              strong Only use wine that you would actually drink.
              br
              | If you use wine that you don't like the taste of in a cooking, chances are you won't love the taste of the dish either. Make sure to use wine that you would actually drink when cooking with it.
            li
              strong Choose a wine that would generally pair well with your meal.
              br
              | For example, spicy foods match well with more aromatic white wines that have some sweetness, so you would want to add the same type of wine when cooking with those types of foods.
            li
              strong Don't be fooled by so-called 'cooking wines'.
              br
              | Most cooking wines are of low quality and because you would not want to drink them, you should not cook with them. Also, salt has been added to cooking wines to prevent the wine from going bad when it is exposed to the air, so there is a good chance it may make your dish too salty.
          //- ol
        //- article
      //- modal-body
      .modal-footer
        .text-center
          button.btn.btn-success.btn-lg(type='button', data-dismiss='modal') Done
        //- text-cente3
      //- modal-footer
    //- modal-content
  //- modal-dialog
//- modal

#article_beers.modal_article.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        //- button
        h4.modal-title.text-center
        //- h4
      //- modal-header
      .modal-body
        //- h3.text-center Top 10 Aussie Craft Beers
        img.img-responsive.center-block(src='assets/images/tmp/post_3_thumb.png')
        br
        article
          p If you love your craft beer then check out this list to see if your favourites made the cut. This list is a good guide to try out a few new brews as well if you haven’t done so already.
          ol
            li 'Pacific Ale' Australian-style Pale Ale - Stone &amp; Wood, NSW
            li 'Hop Hog' American-style IPA - Feral, WA
            li 'IIPA' Double American-style IPA - Pirate Life, SA
            li 'Pale Ale' American-style Pale Ale - Pirate Life, SA
            li 'Pale Ale' American-style Pale Ale - Little Creatures, WA
            li '150 Lashes' Australian-style Pale Ale - James Squire, NSW
            li 'Pale Ale' American-style Pale Ale - 4 Pines, NSW
            li 'Kolsch' - 4 Pines, NSW
            li 'Former Tenant' American-style IPA - Modus Operandi, NSW
            li 'Karma Citra' Black IPA - Feral, WA
          //- ol
        //- article
      //- modal-body
      .modal-footer
        .text-center
          button.btn.btn-success.btn-lg(type='button', data-dismiss='modal') Done
        //- text-cente3
      //- modal-footer
    //- modal-content
  //- modal-dialog
//- modal

#article_wine.modal_article.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        //- button
        h4.modal-title.text-center
        //- h4
      //- modal-header
      .modal-body
        //- h3.text-center Why Wine Doesn't Make You Fat
        img.img-responsive.center-block(src='assets/images/tmp/post_4_thumb.png')
        br
        article
          p Women who drink wine are actually less likely to gain weight than those who are teetotal, according to a new report.
          p Researchers found that regular moderate female drinkers were less likely to become obese after a 13 year study of more than 19,000 women.
          p The finding seems to contradict received dietary wisdom which has it that alcohol consumption leads to weight gain.
          p The body may use calories from alcohol in a different way from other foods which affects weight gain, doctors said.
          p It is thought that alcohol is broken down by the liver using a different metabolic pathway to create heat, rather than fat.
          p Lu Wang, from Brigham and Women's hospital in Boston questioned 19,220 American women with healthy body weight about their drinking habits.
          p About 38 per cent were non-alcohol drinkers. Over 13 years this was the group that gained the most weight.
          p The more women drank the less weight they gained. Those who drank red wine gained the least weight with greater weight gain associated with beer and spirits.
          p The report, published in the Archives of Internal Medicine, said there was no clear connection between alcohol consumption and weight gain.
          p However, Catherine Collins, a spokesman for the British Dietetic Association, said women should not look on wine as a weight loss aid.
          p She said: "If these women have a healthy diet and lifestyle and are having one or two units of alcohol a night then that has less calories than someone who instead has a chocolate bar to unwind. It's a question of "what's your poison?"
          p "Of course if women were drinking more than two units a day they would put on weight. What this survey shows is that moderation is key to a healthy lifestyle. People who drink wine may be more likely to snack on sugary and more calorific treats."
          p The benefits of drinking red wine have already been documented.
          p A study by Barts, the London School of Medicine and the Queen Mary University in London highlighted a mechanism in red wine that appeared to interfere with a body chemical responsible for clogging up the arteries.
          p Research by the Institute of Preventive Medicine in Copenhagen showed that a daily glass of red wine increased good cholesterol by up to 16 per cent, and reduced the clotting compound fibrinogen by up to 15 per cent.
          p Meanwhile, white wine has also been shown to have some beneficial effects, with a 2008 study by the University of Buffalo suggesting that while both red and white wine can bolster lung function, white wine seems to have a more positive effect.
        //- article
      //- modal-body
      .modal-footer
        .text-center
          button.btn.btn-success.btn-lg(type='button', data-dismiss='modal') Done
        //- text-cente3
      //- modal-footer
    //- modal-content
  //- modal-dialog
//- modal

#modal_compare.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        //- button
        h4.modal-title.text-center Compare Drinks
          br
          small  Select a maximum of 3 drinks to compare.
        //- h4
      //- modal-header
      .modal-body
        .row.compare-summary
          .col-md-4
            .alert.alert-success
              a.close(href='#modal_coming_soon', data-toggle='modal') &times;
              strong Brokenwood
              p Graveyard Vineyard
            //- alert
          //- col-md-4
          .col-md-4
            .alert.alert-success
              a.close(href='#modal_coming_soon', data-toggle='modal') &times;
              strong Sticks
              p Pinot Noir
            //- alert
          //- col-md-4
          .col-md-4
            .alert.alert-success
              a.close(href='#modal_coming_soon', data-toggle='modal') &times;
              strong Rosnay Organic
              p Triple Blend
            //- alert
          //- col-md-4
        //- row
      //- modal-body
      .modal-footer
        .text-center
          a.btn.btn-success.btn-lg(href='#modal_coming_soon', data-toggle='modal') Compare 3 drinks
        //- text-cente3
      //- modal-footer
    //- modal-content
  //- modal-dialog
//- modal

#modal_signup.modal_article.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        //- button
        h4.modal-title.text-center Welcome
        //- h4
      //- modal-header
      .modal-body
        .form-group
          a.joinfb.btn.btn-primary.btn-block(href='#modal_coming_soon', data-toggle='modal')
            span Join using&nbsp;
            img(src='assets/images/facebook.png')
        //- form-group
        h5.text-muted.text-center OR
        .form-group
          input.form-control(type='text', placeholder='Full name')
        //- form-group
        .form-group
          input.form-control(type='email', placeholder='Email Address')
        //- form-group
        .form-group
          input.form-control(type='password', placeholder='Password')
        //- form-group
        .form-group
          input.form-control(type='text', placeholder='Mobile')
        //- form-group
        .form-group
          a.btn.btn-success.btn-block(href='#modal_coming_soon', data-toggle='modal') Join using email
        //- form-group
        table
          tr
            td(width='25')
              small
                input(type='checkbox')
              //- small
            //- td
            td
              small
                | I'm 18 years or over and agree to Drinkcircle's&nbsp;
                a(href='#modal_coming_soon', data-toggle='modal') terms of use
                | &nbsp;and&nbsp;
                a(href='#modal_coming_soon', data-toggle='modal') privacy policy
                | .
              //- small
            //- td
          //- tr
        //- table
        .clearfix
        br
        small.links
          p.text-center
            a.pull-left(href='#modal_coming_soon', data-toggle='modal') Want to login instead?
            a.pull-right(href='#modal_coming_soon', data-toggle='modal') Forgot your password?
            .clearfix
          //- p
        //- small
      //- modal-body
    //- modal-content
  //- modal-dialog
//- modal

#modal_edit_toppicks.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        //- button
        h4.modal-title.text-center Manage Top 10
        //- h4
      //- modal-header
      .modal-body
        table.table
          thead
            tr
              th
              th Preview
              th Name
              th Points
              th
            //- tr
          //- thead
          tbody
            tr
              th 1.
              th
                img.preview(src='assets/images/products/p14.jpg', alt='')
              //- th
              th
                a(href='#modal_coming_soon', data-toggle='modal')
                  strong Young Henrys
                //- a
                br
                small Natural Lager
              //- th
              th
                .points
                  span 96
                  small points
                //- points
              //- th
              th
                a(href='#modal_coming_soon', data-toggle='modal')
                  i.fa.fa-trash-o
                //- a
              //- th
            //- tr
            tr
              th 2.
              th
                img.preview(src='assets/images/products/p1.jpg', alt='')
              //- th
              th
                a(href='#modal_coming_soon', data-toggle='modal')
                  strong Corona Extra
                //- a
                br
                small Imported Beer
              //- th
              th
                .points
                  span 93
                  small points
                //- points
              //- th
              th
                a(href='#modal_coming_soon', data-toggle='modal')
                  i.fa.fa-trash-o
                //- a
              //- th
            //- tr
            tr
              th 3.
              th
                img.preview(src='assets/images/products/p2.jpg', alt='')
              th
                a(href='productdetails2.html')
                  strong Brokenwood
                //- a
                br
                small Graveyard Vineyard Shiraz
              //- th
              th
                .points
                  span 94
                  small points
                //- points
              //- th
              th
                a(href='#modal_coming_soon', data-toggle='modal')
                  i.fa.fa-trash-o
                //- a
              //- th
            //- tr
          //- tbody
        //- table
      //- modal-body
      .modal-footer
        .text-center
          p Drag and drop to adjust positions.
          a.btn.btn-success.btn-lg(href='#modal_coming_soon', data-toggle='modal')
            i.fa.fa-plus
            | &nbsp;Add a Drink
        //- text-cente3
      //- modal-footer
    //- modal-content
  //- modal-dialog
//- modal


#modal_coming_soon.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4#myModalLabel.modal-title Page under construction
      //- modal-header
      .modal-body
        p Coming soon...
      //- modal-body
    //- modal-content
  //- modal-dialog
//- modal
