// Pane for list
.tab-pane#tab-pv-div(role="tabpanel")
  .card(ng-hide=" !pv_listPaneIsVisible()")
    .row
      .col-md-12
        h4 {{pv_viewLabel}} List and Stuff

        // A "filter" field, so the user can search
        //- .form-group
        //-   label(for='pv-filter') Filter
        //-   input#pv-filter.form-control(ng-model="pv_filter" ng-change="pv_filterChanged()" type='text', placeholder='Type part of the supplier name')
        //- //- form-group
        br

        // The fields generated from metadata are inserted here.
        #pv_listDiv
      //- col-md-12

    //hr
    //- actions-wrap
  //- card
  //- tab-pane

  // Pane for single record
  .card(ng-hide="pv_listPaneIsVisible()")
    .row
      .col-md-12
        h4 {{pv_headingForRecordPane}}

        // Buttons above
        .actions-wrap
          a.btn(ng-click="pv_backButton()") Back
          a.btn.btn-success(ng-click="pv_saveButton()") Save
        //- actions-wrap

        // The fields generated from metadata are inserted here.
        #pv_recordDiv

        // Buttons below
        hr
        .actions-wrap
          a.btn(ng-click="pv_backButton()") Back
          a.btn.btn-success(ng-click="pv_saveButton()") Save
      //- col-md-12
    //- actions-wrap
  //- card
//- tab-pane



script.


  (function(){

    const LABEL = 'Product Variants';
    const VIEW = 'product_variant';

    /*
     *  Now register this menu item to use the pane described above.
     */
    PluginMenuItems.register({

      // Label displayed for the menu item
      label: LABEL,

      // Selector for the DIV that becomes visible for this menu item
      id: '#tab-pv-div',

      // Add any required logic to the menu option
      init: function(context) {
        var $scope = context.$scope;

        /*
         *  Load the initial records.
         */
        var params = { };
        TooltwistViews.select(context, VIEW, params, pv_selectCallback);


        /*
         *  If we have enough characters, do a search.
         */
        $scope.pv_filterChanged = function() {

          // Check we have enough characters.
          if ($scope.pv_filter.length < 3) {
            $scope.suppliers = [ ];
            return;
          }
          var params = {
            filter: $scope.pv_filter
          };
          TooltwistViews.select(context, VIEW, params, pv_selectCallback);
        };// pv_filterChanged


        /*
         *  This function is called once we have the records.
         */
        function pv_selectCallback(err, data, metadata) {
          console.log('data=', data);
          console.log('metadata=', metadata);

          $scope.pv_list = data;
          $scope.pv_record = ($scope.pv_list.length > 0) ? $scope.pv_list[0] : null;
          $scope.pv_viewLabel = metadata.label;

          // Provide style options for displaying the list and record.
          var displayOptions = {
            listModel: 'pv_list',
            listTableClasses: 'table-condensed table-hover',
            listClickFunction: 'pv_listClick'
          };

          // Add fields to the DOM for the list
          var listDiv = $('#pv_listDiv');
          var fields = TooltwistViews.fieldsForMode(metadata, 'list');
          var html = TooltwistViews.htmlForAngular_list(metadata, fields, displayOptions);
          listDiv.html(html);
          // Ask Angular to bind our new DOM elements onto it's models.
          context.$compile(listDiv)($scope);

          // Add fields to the DOM for the record
          var recordDiv = $('#pv_recordDiv');
          var fields = TooltwistViews.fieldsForMode(metadata, 'record');
          var html = TooltwistViews.htmlForAngular_edit(metadata, fields, displayOptions);
          recordDiv.html(html);
          // Ask Angular to bind our new DOM elements onto it's models.
          context.$compile(recordDiv)($scope);
        }// pv_selectCallback


        /*
         *  Handle a click on the list.
         */
        $scope.pv_listClick = function(record) {

          // Set the current record.
          // Show the single record pane.
          // Set the label for the pane.
          $scope.pv_record = record;
          $scope.pv_showListPane = false;
          $scope.pv_headingForRecordPane = record.name;
        }// pv_listClick



        /*
         *  Go back to showing the supplier list.
         */
        $scope.pv_backButton = function() {
          //alert('back()');
          $scope.pv_showListPane = true;
          return false;
        };// pv_backButton



        /*
         *  Save the supplier details.
         */
        $scope.pv_saveButton = function() {
          //alert('pv_saveButton()');
          TooltwistViews.save(context, VIEW, $scope.pv_record, function(err, reply) {
            console.log('save returned', err, reply);
            // Jump back to the supplier list
            context.$timeout(function() {
              context.$scope.pv_showListPane = true;
            }, 10);
          });
        }// pv_saveButton


        /*
         *  Return true when we want to show the list (rather than the record).
         */
        $scope.pv_listPaneIsVisible = function() {
          return $scope.pv_showListPane;
        }// pv_listPaneIsVisible

      },// init

      /*
       *  When we switch menu option, we want to come back to the list.
       */
      reset: function(context) {
        var $scope = context.$scope;
        var $timeout = context.$timeout;

        // This function might or might not have been called by Angular. The
        // timeout function causes Angular to $apply() changes to the model,
        // and also allows the current function to return, if it was called
        // by Angular (for example, during page initialization), preventing
        // and Angular $proc (???) error.
        context.$timeout(function() {
          $scope.pv_showListPane = true;
        }, 10);
      }// reset

    });// PluginMenuItems.register()

  })();
