.reviews(ng-app="myApp")
  .row
    .col-md-12
      p.lead Customer Reviews &amp; Ratings

  .row
    .col-md-12

      // Float the rating button to the right
      .btn-review-wrap.right(style="float: right")
        a.button.inline.v7(ng-click="writeAReviewButton()" ng-hide="!loggedIn") Rate this product
        a.button.inline.v7(ng-hide="loggedIn") Log in to Rate this product

      // Show the number of ratings
      .review-widget-no-ratings
        | No ratings yet
        br
        small.green &nbsp;&nbsp;&nbsp;&nbsp;Be the first to rate this product!
      .review-widget-have-ratings
        #review-widget-number-of-ratings

  .row
    .col-md-9.col-sm-5
      .inline_rating_groups
        .review-widget-have-ratings
          span.ratings
            table
              tr
                td(colspan="3")
                  small.green Drinker's Points (value for money)
              tr
                td(width="100")
                  small 95 - 100
                //- td
                td(width="270")
                  .progress
                    .progress-bar.progress-bar-success(id="pcnt90To100", role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 1%')
                      span.sr-only 100% Complete (success)
                    //- progress-bar
                  //- progress
                //- td
                td.text-center(width="50")
                  small(id="count90To100") 0
              //- tr
              tr
                td
                  small 85 - 90
                //- td
                td
                  .progress
                    .progress-bar.progress-bar-success(id="pcnt80To89", role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width: 1%')
                      span.sr-only 10% Complete (success)
                    //- progress-bar
                  //- progress
                //- td
                td.text-center
                  small(id="count80To89") 0
              //- tr
              tr
                td
                  small 75 - 80
                //- td
                td
                  .progress
                    .progress-bar.progress-bar-success(id="pcnt70To79", role='progressbar', aria-valuenow='1', aria-valuemin='0', aria-valuemax='100', style='width: 1%')
                      span.sr-only 1% Complete (success)
                    //- progress-bar
                  //- progress
                //- td
                td.text-center
                  small(id="count70To79") 0
              //- tr
              tr
                td
                  small 65 - 70
                //- td
                td
                  .progress
                    .progress-bar.progress-bar-success(id="pcnt60To69", role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 1%')
                      span.sr-only 0% Complete (success)
                    //- progress-bar
                  //- progress
                //- td
                td.text-center
                  small(id="count60To69") 0
              //- tr
              tr
                td
                  small 60 below
                //- td
                td
                  .progress
                    .progress-bar.progress-bar-success(id="pcnt60AndBelow", role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 1%')
                      span.sr-only 0% Complete (success)
                    //- progress-bar
                  //- progress
                //- td
                td.text-center
                  small(id="count60AndBelow") 0
              //- tr
            //- table
          //- ratings
        //- review-widget-have-ratings
        br
        br
      //- inline_rating_groups
      //- col-md-9
  //- row


  .row

    // Reviews summary
    .col-md-12

      // Float the review button to the right
      .btn-review-wrap(style="float: right;")
        a.button.inline.v7(ng-click="writeAReviewButton()" ng-hide="!loggedIn") Write a review
        a.button.inline.v7(ng-hide="loggedIn") Log in to Write a review
        //a.button.inline.v7(href="product-ratings.html") Rate product

      // Show the number of reviews
      .review-widget-have-reviews(style="display:none;")
        | &nbsp;
        span#review-widget-number-of-reviews
          | 0 Reviews
      .review-widget-no-reviews(style="display:none;")
        | No reviews yet
        br
        small.green &nbsp;&nbsp;&nbsp;&nbsp;Feel free to write the first review.
    //- col-md-12
  //- row

  // The actual reviews get displayed here
  .review(id="reviews")
  //- review
//- reviews

block scripts
  // External Script goes here...
  script(id='reviewList', type='text/template')
    <<{childrenHtml}>>
  //- script.
//- block scripts

block scripts
  // External Script goes here...
  script(id='review', type='text/template')
    <<#element>>
    <div class="list_groups">
        <div class="content">
            <div class="counter">
                <div class="ring">
                    <div class="count review-widget-rating-user-<<userId>>">
                        -
                    </div>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <div class="thumb">
                        <div class="img">
                            <img src="<<user.avatar>>" alt="">
                        </div>
                    </div>
                </span>
                <span class="form-control">
                  <strong>
                    <<#title>>
                      <<title>><</title>>
                    <<^title>>
                      <<#extraProperties>>
                        Review and Rating
                      <</extraProperties>>
                      <<^extraProperties>>
                        Rating
                      <</extraProperties>>
                    <</title>>
                  </strong>
                  <br>
                  <small>by<a href="/profile.html?user=<<user.userId>>"><<user.firstName>> <<user.lastName>></a>| <<modifiedDateFromNow>></small>
                  <p class="comment">
                    <<description>>
                  </p>
                  <<#recommended>>
                    <p class="comment">
                      <strong>I would recommend this drink to a friend</strong>
                    </p>
                  <</recommended>>
                </span>
            </div>
        </div>
        <<#user.reviewOwner>>
            <div class="footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="right-to-center basecolor">
                            <small><span class="green"><a href="{{scopes.rateProductUrl}}">edit</a></span>&nbsp;&nbsp;&nbsp;<span class="green"><a href="#">delete</a></span></small>
                        </div>
                    </div>
                </div>
            </div>
        <</user.reviewOwner>>
    </div>
    <</element>>
  //- script.
//- block scripts

block scripts
  // External Script goes here...
  script.
    $(document).ready(function(){

      $('.popover_rating_groups[data-toggle="popover"]').popover({
          html: true,
          content : function() {
            console.log($(this).parent().find("span.ratings").html())
            return '<span class="ratings">' + $(this).parent().find("span.ratings").html() + '</span>';
          },
          title: function(){
            return jQuery(this).data('title') + '<span class="close">&times;</span>';
          }
        }).on('shown.bs.popover', function(e) {
          var popover = jQuery(this);
          $(this).parent().find('.popover span.close').on('click', function(e) {
            popover.popover('hide');
          });
        }).click(function(e) {
          e.preventDefault();
        });

        // URL so we can use it as productVariantId.
        var productVariantId = NaN;

        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) {
          if (key === 'product') {
            productVariantId = parseInt(value);
          }
        });

        //$scope.productId=productVariantId;
      /************************************************************
      *
      *    Angular code.
      */
      //var app = angular.module('myApp', ['ngSanitize']);



      //- // Add the controller for this page
      //- app.controller('myCtrl', function($scope, crowdhoundservice) {
      //-   //crowdhoundservice.loadReview();
      //- });

      /*app.directive('reviewWidget', function(){
        return {
          restrict: 'E',
          scope: false,
          templateUrl: 'review-widget.html'
        }
      });*/
    });

  //- script.
//- block scripts
